<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.AppVersionMapper" >
  <resultMap id="BaseResultMap" type="ampc.com.gistone.database.model.AppVersion" >
    <id column="pkid" property="pkid" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="app_path" property="appPath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pkid, version, time, app_path
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from app_version
    where pkid = #{pkid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from app_version
    where pkid = #{pkid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="ampc.com.gistone.database.model.AppVersion" >
    insert into app_version (pkid, version, time, 
      app_path)
    values (#{pkid,jdbcType=INTEGER}, #{version,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{appPath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ampc.com.gistone.database.model.AppVersion" >
    insert into app_version
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        pkid,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="appPath != null" >
        app_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkid != null" >
        #{pkid,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="appPath != null" >
        #{appPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ampc.com.gistone.database.model.AppVersion" >
    update app_version
    <set >
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="appPath != null" >
        app_path = #{appPath,jdbcType=VARCHAR},
      </if>
    </set>
    where pkid = #{pkid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ampc.com.gistone.database.model.AppVersion" >
    update app_version
    set version = #{version,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      app_path = #{appPath,jdbcType=VARCHAR}
    where pkid = #{pkid,jdbcType=INTEGER}
  </update>
</mapper>