<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.TScenarinoDetailMapper" >
  <resultMap id="BaseResultMap" type="ampc.com.gistone.database.model.TScenarinoDetail" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="SCENARINO_TYPE" property="scenarinoType" jdbcType="DECIMAL" />
    <result column="SCENARINO_NAME" property="scenarinoName" jdbcType="OTHER" />
    <result column="START_DATE" property="startDate" jdbcType="DATE" />
    <result column="END_DATE" property="endDate" jdbcType="DATE" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="MISSION_ID" property="missionId" jdbcType="DECIMAL" />
    <result column="ADD_TIME" property="addTime" jdbcType="DATE" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
    <result column="IS_EFFECTIVE" property="isEffective" jdbcType="VARCHAR" />
    <result column="DELETE_TIME" property="deleteTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, SCENARINO_TYPE, SCENARINO_NAME, START_DATE, END_DATE, STATUS, MISSION_ID, ADD_TIME, 
    USER_ID, UPDATE_TIME, IS_EFFECTIVE, DELETE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_SCENARINO_DETAIL
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_SCENARINO_DETAIL
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="ampc.com.gistone.database.model.TScenarinoDetail" >
    insert into T_SCENARINO_DETAIL (ID, SCENARINO_TYPE, SCENARINO_NAME, 
      START_DATE, END_DATE, STATUS, 
      MISSION_ID, ADD_TIME, USER_ID, 
      UPDATE_TIME, IS_EFFECTIVE, DELETE_TIME
      )
    values (#{id,jdbcType=DECIMAL}, #{scenarinoType,jdbcType=DECIMAL}, #{scenarinoName,jdbcType=OTHER}, 
      #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{status,jdbcType=DECIMAL}, 
      #{missionId,jdbcType=DECIMAL}, #{addTime,jdbcType=DATE}, #{userId,jdbcType=DECIMAL}, 
      #{updateTime,jdbcType=DATE}, #{isEffective,jdbcType=VARCHAR}, #{deleteTime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="ampc.com.gistone.database.model.TScenarinoDetail" >
    insert into T_SCENARINO_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="scenarinoType != null" >
        SCENARINO_TYPE,
      </if>
      <if test="scenarinoName != null" >
        SCENARINO_NAME,
      </if>
      <if test="startDate != null" >
        START_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="missionId != null" >
        MISSION_ID,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE,
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="scenarinoType != null" >
        #{scenarinoType,jdbcType=DECIMAL},
      </if>
      <if test="scenarinoName != null" >
        #{scenarinoName,jdbcType=OTHER},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="missionId != null" >
        #{missionId,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="isEffective != null" >
        #{isEffective,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ampc.com.gistone.database.model.TScenarinoDetail" >
    update T_SCENARINO_DETAIL
    <set >
      <if test="scenarinoType != null" >
        SCENARINO_TYPE = #{scenarinoType,jdbcType=DECIMAL},
      </if>
      <if test="scenarinoName != null" >
        SCENARINO_NAME = #{scenarinoName,jdbcType=OTHER},
      </if>
      <if test="startDate != null" >
        START_DATE = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="missionId != null" >
        MISSION_ID = #{missionId,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME = #{deleteTime,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="ampc.com.gistone.database.model.TScenarinoDetail" >
    update T_SCENARINO_DETAIL
    set SCENARINO_TYPE = #{scenarinoType,jdbcType=DECIMAL},
      SCENARINO_NAME = #{scenarinoName,jdbcType=OTHER},
      START_DATE = #{startDate,jdbcType=DATE},
      END_DATE = #{endDate,jdbcType=DATE},
      STATUS = #{status,jdbcType=DECIMAL},
      MISSION_ID = #{missionId,jdbcType=DECIMAL},
      ADD_TIME = #{addTime,jdbcType=DATE},
      USER_ID = #{userId,jdbcType=DECIMAL},
      UPDATE_TIME = #{updateTime,jdbcType=DATE},
      IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR},
      DELETE_TIME = #{deleteTime,jdbcType=DATE}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>