<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.TMeasureMapper" >
  <resultMap id="BaseResultMap" type="ampc.com.gistone.database.model.TMeasure" >
    <id column="MEASURE_ID" property="measureId" jdbcType="DECIMAL" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="VERSION_ID" property="versionId" jdbcType="DECIMAL" />
    <result column="MID" property="mid" jdbcType="OTHER" />
    <result column="MEASURE_NAME" property="measureName" jdbcType="OTHER" />
    <result column="M_DESC" property="mDesc" jdbcType="OTHER" />
    <result column="OP" property="op" jdbcType="OTHER" />
    <result column="INTENSITY" property="intensity" jdbcType="FLOAT" />
    <result column="SECTORS" property="sectors" jdbcType="OTHER" />
    <result column="CONTENT" property="content" jdbcType="OTHER" />
    <result column="DISPLAY" property="display" jdbcType="OTHER" />
  </resultMap>
  <sql id="Base_Column_List" >
    MEASURE_ID, USER_ID, VERSION_ID, MID, MEASURE_NAME, M_DESC, OP, INTENSITY, SECTORS, 
    CONTENT, DISPLAY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_MEASURE
    where MEASURE_ID = #{measureId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_MEASURE
    where MEASURE_ID = #{measureId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="ampc.com.gistone.database.model.TMeasure" >
    insert into T_MEASURE (MEASURE_ID, USER_ID, VERSION_ID, 
      MID, MEASURE_NAME, M_DESC, 
      OP, INTENSITY, SECTORS, CONTENT, 
      DISPLAY)
    values (#{measureId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{versionId,jdbcType=DECIMAL}, 
      #{mid,jdbcType=OTHER}, #{measureName,jdbcType=OTHER}, #{mDesc,jdbcType=OTHER}, 
      #{op,jdbcType=OTHER}, #{intensity,jdbcType=FLOAT}, #{sectors,jdbcType=OTHER}, #{content,jdbcType=OTHER}, 
      #{display,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="ampc.com.gistone.database.model.TMeasure" >
    insert into T_MEASURE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="measureId != null" >
        MEASURE_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="versionId != null" >
        VERSION_ID,
      </if>
      <if test="mid != null" >
        MID,
      </if>
      <if test="measureName != null" >
        MEASURE_NAME,
      </if>
      <if test="mDesc != null" >
        M_DESC,
      </if>
      <if test="op != null" >
        OP,
      </if>
      <if test="intensity != null" >
        INTENSITY,
      </if>
      <if test="sectors != null" >
        SECTORS,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
      <if test="display != null" >
        DISPLAY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="measureId != null" >
        #{measureId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="versionId != null" >
        #{versionId,jdbcType=DECIMAL},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=OTHER},
      </if>
      <if test="measureName != null" >
        #{measureName,jdbcType=OTHER},
      </if>
      <if test="mDesc != null" >
        #{mDesc,jdbcType=OTHER},
      </if>
      <if test="op != null" >
        #{op,jdbcType=OTHER},
      </if>
      <if test="intensity != null" >
        #{intensity,jdbcType=FLOAT},
      </if>
      <if test="sectors != null" >
        #{sectors,jdbcType=OTHER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=OTHER},
      </if>
      <if test="display != null" >
        #{display,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ampc.com.gistone.database.model.TMeasure" >
    update T_MEASURE
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="versionId != null" >
        VERSION_ID = #{versionId,jdbcType=DECIMAL},
      </if>
      <if test="mid != null" >
        MID = #{mid,jdbcType=OTHER},
      </if>
      <if test="measureName != null" >
        MEASURE_NAME = #{measureName,jdbcType=OTHER},
      </if>
      <if test="mDesc != null" >
        M_DESC = #{mDesc,jdbcType=OTHER},
      </if>
      <if test="op != null" >
        OP = #{op,jdbcType=OTHER},
      </if>
      <if test="intensity != null" >
        INTENSITY = #{intensity,jdbcType=FLOAT},
      </if>
      <if test="sectors != null" >
        SECTORS = #{sectors,jdbcType=OTHER},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=OTHER},
      </if>
      <if test="display != null" >
        DISPLAY = #{display,jdbcType=OTHER},
      </if>
    </set>
    where MEASURE_ID = #{measureId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="ampc.com.gistone.database.model.TMeasure" >
    update T_MEASURE
    set USER_ID = #{userId,jdbcType=DECIMAL},
      VERSION_ID = #{versionId,jdbcType=DECIMAL},
      MID = #{mid,jdbcType=OTHER},
      MEASURE_NAME = #{measureName,jdbcType=OTHER},
      M_DESC = #{mDesc,jdbcType=OTHER},
      OP = #{op,jdbcType=OTHER},
      INTENSITY = #{intensity,jdbcType=FLOAT},
      SECTORS = #{sectors,jdbcType=OTHER},
      CONTENT = #{content,jdbcType=OTHER},
      DISPLAY = #{display,jdbcType=OTHER}
    where MEASURE_ID = #{measureId,jdbcType=DECIMAL}
  </update>
</mapper>