<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.TPlanMapper" >
  <resultMap id="BaseResultMap" type="ampc.com.gistone.database.model.TPlan" >
    <id column="PLAN_ID" property="planId" jdbcType="DECIMAL" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="PLAN_NAME" property="planName" jdbcType="OTHER" />
    <result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
    <result column="USED_BY" property="usedBy" jdbcType="DECIMAL" />
    <result column="DELETE_TIME" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="IS_EFFECTIVE" property="isEffective" jdbcType="VARCHAR" />
    <result column="SCENARIO_ID" property="scenarioId" jdbcType="DECIMAL" />
    <result column="MISSION_ID" property="missionId" jdbcType="DECIMAL" />
    <result column="PLAN_START_TIME" property="planStartTime" jdbcType="TIMESTAMP" />
    <result column="PLAN_END_TIME" property="planEndTime" jdbcType="TIMESTAMP" />
    <result column="AREA_ID" property="areaId" jdbcType="DECIMAL" />
    <result column="COPY_PLAN" property="copyPlan" jdbcType="VARCHAR" />
  </resultMap>
  <!--  查询当前用户下的所有可复制情景  -->
  <resultMap id="copyListMap" type="hashMap" >
    <id column="PLAN_ID" property="planId" jdbcType="DECIMAL" />
    <result column="PLAN_NAME" property="planName" jdbcType="OTHER" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    PLAN_ID, USER_ID, PLAN_NAME, ADD_TIME, USED_BY, DELETE_TIME, IS_EFFECTIVE, SCENARIO_ID, 
    MISSION_ID, PLAN_START_TIME, PLAN_END_TIME, AREA_ID, COPY_PLAN
  </sql>
  
  
  
  
   <!-- 根据条件查询ID -->
  <select id="getIdByQuery" resultType="java.lang.Integer" parameterType="hashMap" >
    select PLAN_ID from T_PLAN
    where USER_ID = #{userId,jdbcType=OTHER} and PLAN_NAME=#{planName,jdbcType=OTHER} and IS_EFFECTIVE='1'
     and SCENARIO_ID=#{scenarioId,jdbcType=OTHER}
  </select>
  
  
  <!--  查询当前用户下的所有可复制情景  -->
  <select id="selectCopyList" resultMap="copyListMap" parameterType="java.lang.Long" >
    select PLAN_ID,PLAN_NAME from T_PLAN
    where USER_ID = #{userId,jdbcType=OTHER}  and IS_EFFECTIVE='1'
     and COPY_PLAN=1
  </select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_PLAN
    where PLAN_ID = #{planId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_PLAN
    where PLAN_ID = #{planId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="ampc.com.gistone.database.model.TPlan" >
    insert into T_PLAN (PLAN_ID, USER_ID, PLAN_NAME, 
      ADD_TIME, USED_BY, DELETE_TIME, 
      IS_EFFECTIVE, SCENARIO_ID, MISSION_ID, 
      PLAN_START_TIME, PLAN_END_TIME, AREA_ID, 
      COPY_PLAN)
    values (#{planId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{planName,jdbcType=OTHER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{usedBy,jdbcType=DECIMAL}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{isEffective,jdbcType=VARCHAR}, #{scenarioId,jdbcType=DECIMAL}, #{missionId,jdbcType=DECIMAL}, 
      #{planStartTime,jdbcType=TIMESTAMP}, #{planEndTime,jdbcType=TIMESTAMP}, #{areaId,jdbcType=DECIMAL}, 
      #{copyPlan,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ampc.com.gistone.database.model.TPlan" >
    insert into T_PLAN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="planId != null" >
        PLAN_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="planName != null" >
        PLAN_NAME,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
      <if test="usedBy != null" >
        USED_BY,
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME,
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE,
      </if>
      <if test="scenarioId != null" >
        SCENARIO_ID,
      </if>
      <if test="missionId != null" >
        MISSION_ID,
      </if>
      <if test="planStartTime != null" >
        PLAN_START_TIME,
      </if>
      <if test="planEndTime != null" >
        PLAN_END_TIME,
      </if>
      <if test="areaId != null" >
        AREA_ID,
      </if>
      <if test="copyPlan != null" >
        COPY_PLAN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="planId != null" >
        #{planId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="planName != null" >
        #{planName,jdbcType=OTHER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="usedBy != null" >
        #{usedBy,jdbcType=DECIMAL},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isEffective != null" >
        #{isEffective,jdbcType=VARCHAR},
      </if>
      <if test="scenarioId != null" >
        #{scenarioId,jdbcType=DECIMAL},
      </if>
      <if test="missionId != null" >
        #{missionId,jdbcType=DECIMAL},
      </if>
      <if test="planStartTime != null" >
        #{planStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planEndTime != null" >
        #{planEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=DECIMAL},
      </if>
      <if test="copyPlan != null" >
        #{copyPlan,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ampc.com.gistone.database.model.TPlan" >
    update T_PLAN
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="planName != null" >
        PLAN_NAME = #{planName,jdbcType=OTHER},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="usedBy != null" >
        USED_BY = #{usedBy,jdbcType=DECIMAL},
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR},
      </if>
      <if test="scenarioId != null" >
        SCENARIO_ID = #{scenarioId,jdbcType=DECIMAL},
      </if>
      <if test="missionId != null" >
        MISSION_ID = #{missionId,jdbcType=DECIMAL},
      </if>
      <if test="planStartTime != null" >
        PLAN_START_TIME = #{planStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planEndTime != null" >
        PLAN_END_TIME = #{planEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="areaId != null" >
        AREA_ID = #{areaId,jdbcType=DECIMAL},
      </if>
      <if test="copyPlan != null" >
        COPY_PLAN = #{copyPlan,jdbcType=VARCHAR},
      </if>
    </set>
    where PLAN_ID = #{planId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="ampc.com.gistone.database.model.TPlan" >
    update T_PLAN
    set USER_ID = #{userId,jdbcType=DECIMAL},
      PLAN_NAME = #{planName,jdbcType=OTHER},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      USED_BY = #{usedBy,jdbcType=DECIMAL},
      DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
      IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR},
      SCENARIO_ID = #{scenarioId,jdbcType=DECIMAL},
      MISSION_ID = #{missionId,jdbcType=DECIMAL},
      PLAN_START_TIME = #{planStartTime,jdbcType=TIMESTAMP},
      PLAN_END_TIME = #{planEndTime,jdbcType=TIMESTAMP},
      AREA_ID = #{areaId,jdbcType=DECIMAL},
      COPY_PLAN = #{copyPlan,jdbcType=VARCHAR}
    where PLAN_ID = #{planId,jdbcType=DECIMAL}
  </update>
  <select id="selectByEnty" resultMap="BaseResultMap" parameterType="ampc.com.gistone.database.model.TPlan" >
    select 
    <include refid="Base_Column_List" />
    from T_PLAN
    where 1=1
      <if test="userId != null" >
       and USER_ID = #{userId,jdbcType=DECIMAL}
      </if>
      <if test="planName != null" >
       and PLAN_NAME = #{planName,jdbcType=OTHER}
      </if>
      <if test="addTime != null" >
       and ADD_TIME = #{addTime,jdbcType=TIMESTAMP}
      </if>
      <if test="usedBy != null" >
       and USED_BY = #{usedBy,jdbcType=DECIMAL}
      </if>
      <if test="deleteTime != null" >
       and DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP}
      </if>
      <if test="isEffective != null" >
       and IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR}
      </if>
      <if test="scenarioId != null" >
       and SCENARIO_ID = #{scenarioId,jdbcType=DECIMAL}
      </if>
      <if test="missionId != null" >
       and MISSION_ID = #{missionId,jdbcType=DECIMAL}
      </if>
      <if test="planStartTime != null" >
       and PLAN_START_TIME = #{planStartTime,jdbcType=TIMESTAMP}
      </if>
      <if test="planEndTime != null" >
       and PLAN_END_TIME = #{planEndTime,jdbcType=TIMESTAMP}
      </if>
      <if test="areaId != null" >
       and AREA_ID = #{areaId,jdbcType=DECIMAL}
      </if>
      <if test="copyPlan != null" >
       and COPY_PLAN = #{copyPlan,jdbcType=VARCHAR}
      </if>
  </select>
</mapper>