<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.TSectorTemplateMapper" >
  <resultMap id="BaseResultMap" type="ampc.com.gistone.database.model.TSectorTemplate" >
    <id column="SECTOR_TEMPLATE_ID" property="sectorTemplateId" jdbcType="DECIMAL" />
    <result column="VERSION_ID" property="versionId" jdbcType="DECIMAL" />
    <result column="SECTOR_TEMPLATE_NAME" property="sectorTemplateName" jdbcType="OTHER" />
    <result column="L4S" property="l4s" jdbcType="OTHER" />
    <result column="ADD_TIME" property="addTime" jdbcType="DATE" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
    <result column="MEASURE_IDS" property="measureIds" jdbcType="OTHER" />
  </resultMap>
  <sql id="Base_Column_List" >
    SECTOR_TEMPLATE_ID, VERSION_ID, SECTOR_TEMPLATE_NAME, L4S, ADD_TIME, UPDATE_TIME, 
    MEASURE_IDS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_SECTOR_TEMPLATE
    where SECTOR_TEMPLATE_ID = #{sectorTemplateId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_SECTOR_TEMPLATE
    where SECTOR_TEMPLATE_ID = #{sectorTemplateId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="ampc.com.gistone.database.model.TSectorTemplate" >
    insert into T_SECTOR_TEMPLATE (SECTOR_TEMPLATE_ID, VERSION_ID, SECTOR_TEMPLATE_NAME, 
      L4S, ADD_TIME, UPDATE_TIME, MEASURE_IDS
      )
    values (#{sectorTemplateId,jdbcType=DECIMAL}, #{versionId,jdbcType=DECIMAL}, #{sectorTemplateName,jdbcType=OTHER}, 
      #{l4s,jdbcType=OTHER}, #{addTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE}, #{measureIds,jdbcType=OTHER}
      )
  </insert>
  <insert id="insertSelective" parameterType="ampc.com.gistone.database.model.TSectorTemplate" >
    insert into T_SECTOR_TEMPLATE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sectorTemplateId != null" >
        SECTOR_TEMPLATE_ID,
      </if>
      <if test="versionId != null" >
        VERSION_ID,
      </if>
      <if test="sectorTemplateName != null" >
        SECTOR_TEMPLATE_NAME,
      </if>
      <if test="l4s != null" >
        L4S,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="measureIds != null" >
        MEASURE_IDS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sectorTemplateId != null" >
        #{sectorTemplateId,jdbcType=DECIMAL},
      </if>
      <if test="versionId != null" >
        #{versionId,jdbcType=DECIMAL},
      </if>
      <if test="sectorTemplateName != null" >
        #{sectorTemplateName,jdbcType=OTHER},
      </if>
      <if test="l4s != null" >
        #{l4s,jdbcType=OTHER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="measureIds != null" >
        #{measureIds,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ampc.com.gistone.database.model.TSectorTemplate" >
    update T_SECTOR_TEMPLATE
    <set >
      <if test="versionId != null" >
        VERSION_ID = #{versionId,jdbcType=DECIMAL},
      </if>
      <if test="sectorTemplateName != null" >
        SECTOR_TEMPLATE_NAME = #{sectorTemplateName,jdbcType=OTHER},
      </if>
      <if test="l4s != null" >
        L4S = #{l4s,jdbcType=OTHER},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
      <if test="measureIds != null" >
        MEASURE_IDS = #{measureIds,jdbcType=OTHER},
      </if>
    </set>
    where SECTOR_TEMPLATE_ID = #{sectorTemplateId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="ampc.com.gistone.database.model.TSectorTemplate" >
    update T_SECTOR_TEMPLATE
    set VERSION_ID = #{versionId,jdbcType=DECIMAL},
      SECTOR_TEMPLATE_NAME = #{sectorTemplateName,jdbcType=OTHER},
      L4S = #{l4s,jdbcType=OTHER},
      ADD_TIME = #{addTime,jdbcType=DATE},
      UPDATE_TIME = #{updateTime,jdbcType=DATE},
      MEASURE_IDS = #{measureIds,jdbcType=OTHER}
    where SECTOR_TEMPLATE_ID = #{sectorTemplateId,jdbcType=DECIMAL}
  </update>
</mapper>