#rwToolbar, #qjToolbar {
  margin: 10px;
}
.rwtableDiv>.clearfix{
  border:1px solid #e7eaec;
}

.lh29 {
  line-height: 29px;
}
.error{
  color:red;
}
.old-foot{
  display: none;
}

.date_div{
  height: 10px;
  position: relative;
  background-color: #75b9e6;
}

.date_div:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-left-color: #75b9e6;
    position: absolute;
    right: -24px;
    top: -6px;
}

.date_div span{
  position: absolute;
  top: -30px;
  transform: rotate(-17deg);
}

.date_div span:nth-child(1){
  left: 10%;
}

.date_div span:nth-child(2){
  left: 30%;
}

.date_div span:nth-child(3){
  left: 50%;
}

.date_div span:nth-child(4){
  left: 70%;
}

.date_div span:nth-child(5){
  left: 90%;
}

.front{
  height: 150px;
  width: 150px;
  float: left;
  border: 1px solid #aaa;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.period{
  height: 150px;
  width: calc(100% - 150px);
  float: left;
  border: 1px solid #aaa;
  overflow: hidden;

  /*background-color: #eaeaea;*/
  /*margin: 35px 0 0 0;*/
  position: relative;
}
.period .time{
  overflow: hidden;
  height:150px;
  width:10%;
  float: left;
  text-align: center;
  position: relative;
}
.area{
  position: relative;
}
.areaMsg div{
  box-sizing: border-box;
}

.area .front>span{
  line-height: 150px;
  font-size: 20px;
}
.areaToolDiv,.timeToolDiv{
  position: absolute;
  left: -85px;
  bottom: 4px;
  transition: left 0.3s linear;
}
.areaToolDiv button:hover,.timeToolDiv button:hover{
  color:#676a6c;
}

.toolShow{
  position: relative;
}
.toolShow span{
  display: none;
  width: 60px;
  height: 20px;
  text-align: center;
  background-color: #fefefe;
  border: 1px solid #cacaca;
  position: absolute;
  left: 4px;
  top: -30px;
}
.toolShow span:after{
  content: '';
  display: block;
  border: 9px solid transparent;
  border-top-color: #D9D9D9;
  position: absolute;
  left: -2px;
}
.toolShow:hover span{
  display: block;
}
.time:hover .timeToolDiv,.front:hover .areaToolDiv{
  left: 4px;
}

.disNone{
  display: none;
}

.period .showLine{
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #aaa;
  bottom: 0;
}

.hk{
  width: 4px;
  height: 150px;
  position: absolute;
  /*left: 15%;*/
  background-color: #aaa;
  top: -148px;
  cursor: ew-resize;
}
.hk:after{
  display: none;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid #aaa;
  transform: rotate(45deg);
  left: -8px;
  top: 60px;
}
.hk:hover:after{
  display: block;
}
.hk:hover .showTips{
  display: block;
}

.showTipsLeft{
  display: none;
  color: #333;
  width: 100px;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  z-index: 2;
  position: absolute;
  bottom: 16px;
  left: 18px;
  text-align: center;
  background-color: #eaeaea;
}
.showTipsLeft:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border: 7px solid transparent;
  border-right: 25px solid #eaeaea;
  transform: rotate(-45deg);
  top: 24px;
  left: -22px;
}

.showTipsRight{
  display: none;
  color: #333;
  width: 100px;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  z-index: 2;
  position: absolute;
  bottom: 16px;
  right: 18px;
  text-align: center;
  background-color: #eaeaea;
}
.showTipsRight:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border: 7px solid transparent;
  border-right: 25px solid #eaeaea;
  transform: rotate(-135deg);
  top: 24px;
  right: -22px;
}
.modal-lg.bigModal{
  width: 80%;
}
.rightArrow{
  float: left;
  width: 60px;
}
.codeTree{
  float: left;
  width: calc(100% - 60px);
}
.editAreaTitle p,.editAreaTitle label{
  line-height: 28px;
}

.qjbjDiv{
  background-color: #fff;
}
.qjbj{
  margin-right: 15px;
}
.w80{
  width: 80%;
}



/* 刘俊 */
/* .topChoose{
	float: left;
	margin: 0;
}
.leftSomething{
	float: left;
	margin: 0;	
} */
.boxMapImg{   
	height: 300px;
	background-color: orange;
	border: 1px;
	left: 800px;
	
} 

.tableInall{
	
}
