<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.TSectorExcelMapper" >
  <resultMap id="BaseResultMap" type="ampc.com.gistone.database.model.TSectorExcel" >
    <id column="SECTOR_EXCEL_ID" property="sectorExcelId" jdbcType="DECIMAL" />
    <result column="VERSION_EXCEL_ID" property="versionExcelId" jdbcType="DECIMAL" />
    <result column="SECTOR_EXCEL_NAME" property="sectorExcelName" jdbcType="OTHER" />
    <result column="SECTOR_EXCEL_L4S" property="sectorExcelL4s" jdbcType="OTHER" />
    <result column="SECTOR_EXCEL_ADD_TIME" property="sectorExcelAddTime" jdbcType="TIMESTAMP" />
    <result column="SECTOR_EXCEL_UPDATE_TIME" property="sectorExcelUpdateTime" jdbcType="TIMESTAMP" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="ID" property="id" jdbcType="OTHER" />
    <result column="ID0" property="id0" jdbcType="VARCHAR" />
    <result column="ID0NAME" property="id0name" jdbcType="OTHER" />
    <result column="ID1" property="id1" jdbcType="VARCHAR" />
    <result column="ID1NAME" property="id1name" jdbcType="OTHER" />
    <result column="ID2" property="id2" jdbcType="VARCHAR" />
    <result column="ID2NAME" property="id2name" jdbcType="OTHER" />
    <result column="ID3" property="id3" jdbcType="VARCHAR" />
    <result column="ID3NAME" property="id3name" jdbcType="OTHER" />
    <result column="GROUP_1" property="group1" jdbcType="OTHER" />
    <result column="GROUP_2" property="group2" jdbcType="OTHER" />
    <result column="GROUP_3" property="group3" jdbcType="OTHER" />
    <result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
    <result column="DELETE_TIME" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="IS_EFFECTIVE" property="isEffective" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SECTOR_EXCEL_ID, VERSION_EXCEL_ID, SECTOR_EXCEL_NAME, SECTOR_EXCEL_L4S, SECTOR_EXCEL_ADD_TIME, 
    SECTOR_EXCEL_UPDATE_TIME, USER_ID, ID, ID0, ID0NAME, ID1, ID1NAME, ID2, ID2NAME, 
    ID3, ID3NAME, GROUP_1, GROUP_2, GROUP_3, ADD_TIME, DELETE_TIME, IS_EFFECTIVE
  </sql>
  
  
  
<!--获取到所有的行业信息-->
  <select id="selectAll"  resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
    from T_SECTOR_EXCEL ORDER BY SECTOR_EXCEL_ID
  </select>
  
  <!--查询当前措施表中的最高版本号-->
  <select id="selectMaxVersion" parameterType="java.lang.Long" resultType="java.lang.Long">
  	select max(VERSION_EXCEL_ID) from T_SECTOR_EXCEL
  	  <if test="_parameter != null" >
        where USER_ID=#{_parameter,jdbcType=DECIMAL} 
      </if> 
  </select>
  
  
  
  
  
  
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_SECTOR_EXCEL
    where SECTOR_EXCEL_ID = #{sectorExcelId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_SECTOR_EXCEL
    where SECTOR_EXCEL_ID = #{sectorExcelId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="ampc.com.gistone.database.model.TSectorExcel" >
    insert into T_SECTOR_EXCEL (SECTOR_EXCEL_ID, VERSION_EXCEL_ID, SECTOR_EXCEL_NAME, 
      SECTOR_EXCEL_L4S, SECTOR_EXCEL_ADD_TIME, SECTOR_EXCEL_UPDATE_TIME, 
      USER_ID, ID, ID0, ID0NAME, 
      ID1, ID1NAME, ID2, ID2NAME, 
      ID3, ID3NAME, GROUP_1, GROUP_2, 
      GROUP_3, ADD_TIME, DELETE_TIME, 
      IS_EFFECTIVE)
    values (#{sectorExcelId,jdbcType=DECIMAL}, #{versionExcelId,jdbcType=DECIMAL}, #{sectorExcelName,jdbcType=OTHER}, 
      #{sectorExcelL4s,jdbcType=OTHER}, #{sectorExcelAddTime,jdbcType=TIMESTAMP}, #{sectorExcelUpdateTime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=DECIMAL}, #{id,jdbcType=OTHER}, #{id0,jdbcType=VARCHAR}, #{id0name,jdbcType=OTHER}, 
      #{id1,jdbcType=VARCHAR}, #{id1name,jdbcType=OTHER}, #{id2,jdbcType=VARCHAR}, #{id2name,jdbcType=OTHER}, 
      #{id3,jdbcType=VARCHAR}, #{id3name,jdbcType=OTHER}, #{group1,jdbcType=OTHER}, #{group2,jdbcType=OTHER}, 
      #{group3,jdbcType=OTHER}, #{addTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{isEffective,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ampc.com.gistone.database.model.TSectorExcel" >
    insert into T_SECTOR_EXCEL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sectorExcelId != null" >
        SECTOR_EXCEL_ID,
      </if>
      <if test="versionExcelId != null" >
        VERSION_EXCEL_ID,
      </if>
      <if test="sectorExcelName != null" >
        SECTOR_EXCEL_NAME,
      </if>
      <if test="sectorExcelL4s != null" >
        SECTOR_EXCEL_L4S,
      </if>
      <if test="sectorExcelAddTime != null" >
        SECTOR_EXCEL_ADD_TIME,
      </if>
      <if test="sectorExcelUpdateTime != null" >
        SECTOR_EXCEL_UPDATE_TIME,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="id != null" >
        ID,
      </if>
      <if test="id0 != null" >
        ID0,
      </if>
      <if test="id0name != null" >
        ID0NAME,
      </if>
      <if test="id1 != null" >
        ID1,
      </if>
      <if test="id1name != null" >
        ID1NAME,
      </if>
      <if test="id2 != null" >
        ID2,
      </if>
      <if test="id2name != null" >
        ID2NAME,
      </if>
      <if test="id3 != null" >
        ID3,
      </if>
      <if test="id3name != null" >
        ID3NAME,
      </if>
      <if test="group1 != null" >
        GROUP_1,
      </if>
      <if test="group2 != null" >
        GROUP_2,
      </if>
      <if test="group3 != null" >
        GROUP_3,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME,
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sectorExcelId != null" >
        #{sectorExcelId,jdbcType=DECIMAL},
      </if>
      <if test="versionExcelId != null" >
        #{versionExcelId,jdbcType=DECIMAL},
      </if>
      <if test="sectorExcelName != null" >
        #{sectorExcelName,jdbcType=OTHER},
      </if>
      <if test="sectorExcelL4s != null" >
        #{sectorExcelL4s,jdbcType=OTHER},
      </if>
      <if test="sectorExcelAddTime != null" >
        #{sectorExcelAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sectorExcelUpdateTime != null" >
        #{sectorExcelUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="id != null" >
        #{id,jdbcType=OTHER},
      </if>
      <if test="id0 != null" >
        #{id0,jdbcType=VARCHAR},
      </if>
      <if test="id0name != null" >
        #{id0name,jdbcType=OTHER},
      </if>
      <if test="id1 != null" >
        #{id1,jdbcType=VARCHAR},
      </if>
      <if test="id1name != null" >
        #{id1name,jdbcType=OTHER},
      </if>
      <if test="id2 != null" >
        #{id2,jdbcType=VARCHAR},
      </if>
      <if test="id2name != null" >
        #{id2name,jdbcType=OTHER},
      </if>
      <if test="id3 != null" >
        #{id3,jdbcType=VARCHAR},
      </if>
      <if test="id3name != null" >
        #{id3name,jdbcType=OTHER},
      </if>
      <if test="group1 != null" >
        #{group1,jdbcType=OTHER},
      </if>
      <if test="group2 != null" >
        #{group2,jdbcType=OTHER},
      </if>
      <if test="group3 != null" >
        #{group3,jdbcType=OTHER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isEffective != null" >
        #{isEffective,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ampc.com.gistone.database.model.TSectorExcel" >
    update T_SECTOR_EXCEL
    <set >
      <if test="versionExcelId != null" >
        VERSION_EXCEL_ID = #{versionExcelId,jdbcType=DECIMAL},
      </if>
      <if test="sectorExcelName != null" >
        SECTOR_EXCEL_NAME = #{sectorExcelName,jdbcType=OTHER},
      </if>
      <if test="sectorExcelL4s != null" >
        SECTOR_EXCEL_L4S = #{sectorExcelL4s,jdbcType=OTHER},
      </if>
      <if test="sectorExcelAddTime != null" >
        SECTOR_EXCEL_ADD_TIME = #{sectorExcelAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sectorExcelUpdateTime != null" >
        SECTOR_EXCEL_UPDATE_TIME = #{sectorExcelUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="id != null" >
        ID = #{id,jdbcType=OTHER},
      </if>
      <if test="id0 != null" >
        ID0 = #{id0,jdbcType=VARCHAR},
      </if>
      <if test="id0name != null" >
        ID0NAME = #{id0name,jdbcType=OTHER},
      </if>
      <if test="id1 != null" >
        ID1 = #{id1,jdbcType=VARCHAR},
      </if>
      <if test="id1name != null" >
        ID1NAME = #{id1name,jdbcType=OTHER},
      </if>
      <if test="id2 != null" >
        ID2 = #{id2,jdbcType=VARCHAR},
      </if>
      <if test="id2name != null" >
        ID2NAME = #{id2name,jdbcType=OTHER},
      </if>
      <if test="id3 != null" >
        ID3 = #{id3,jdbcType=VARCHAR},
      </if>
      <if test="id3name != null" >
        ID3NAME = #{id3name,jdbcType=OTHER},
      </if>
      <if test="group1 != null" >
        GROUP_1 = #{group1,jdbcType=OTHER},
      </if>
      <if test="group2 != null" >
        GROUP_2 = #{group2,jdbcType=OTHER},
      </if>
      <if test="group3 != null" >
        GROUP_3 = #{group3,jdbcType=OTHER},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR},
      </if>
    </set>
    where SECTOR_EXCEL_ID = #{sectorExcelId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="ampc.com.gistone.database.model.TSectorExcel" >
    update T_SECTOR_EXCEL
    set VERSION_EXCEL_ID = #{versionExcelId,jdbcType=DECIMAL},
      SECTOR_EXCEL_NAME = #{sectorExcelName,jdbcType=OTHER},
      SECTOR_EXCEL_L4S = #{sectorExcelL4s,jdbcType=OTHER},
      SECTOR_EXCEL_ADD_TIME = #{sectorExcelAddTime,jdbcType=TIMESTAMP},
      SECTOR_EXCEL_UPDATE_TIME = #{sectorExcelUpdateTime,jdbcType=TIMESTAMP},
      USER_ID = #{userId,jdbcType=DECIMAL},
      ID = #{id,jdbcType=OTHER},
      ID0 = #{id0,jdbcType=VARCHAR},
      ID0NAME = #{id0name,jdbcType=OTHER},
      ID1 = #{id1,jdbcType=VARCHAR},
      ID1NAME = #{id1name,jdbcType=OTHER},
      ID2 = #{id2,jdbcType=VARCHAR},
      ID2NAME = #{id2name,jdbcType=OTHER},
      ID3 = #{id3,jdbcType=VARCHAR},
      ID3NAME = #{id3name,jdbcType=OTHER},
      GROUP_1 = #{group1,jdbcType=OTHER},
      GROUP_2 = #{group2,jdbcType=OTHER},
      GROUP_3 = #{group3,jdbcType=OTHER},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
      IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR}
    where SECTOR_EXCEL_ID = #{sectorExcelId,jdbcType=DECIMAL}
  </update>
</mapper>