<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.TAdminMapper" >
  <resultMap id="BaseResultMap" type="ampc.com.gistone.database.model.TAdmin" >
    <id column="ADMIN_ID" property="adminId" jdbcType="DECIMAL" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="ADMIN_EMAIL" property="adminEmail" jdbcType="VARCHAR" />
    <result column="ADMIN_NAME" property="adminName" jdbcType="OTHER" />
    <result column="COMPANY_NAME" property="companyName" jdbcType="OTHER" />
    <result column="PROVINCE_CODE" property="provinceCode" jdbcType="VARCHAR" />
    <result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR" />
    <result column="COUNTY_CODE" property="countyCode" jdbcType="VARCHAR" />
    <result column="ADMIN_PHONE" property="adminPhone" jdbcType="DECIMAL" />
    <result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
    <result column="ADMIN_ACCOUNT" property="adminAccount" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ADMIN_ID, PASSWORD, ADMIN_EMAIL, ADMIN_NAME, COMPANY_NAME, PROVINCE_CODE, CITY_CODE, 
    COUNTY_CODE, ADMIN_PHONE, ADD_TIME, ADMIN_ACCOUNT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_ADMIN
    where ADMIN_ID = #{adminId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_ADMIN
    where ADMIN_ID = #{adminId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="ampc.com.gistone.database.model.TAdmin" >
    insert into T_ADMIN (ADMIN_ID, PASSWORD, ADMIN_EMAIL, 
      ADMIN_NAME, COMPANY_NAME, PROVINCE_CODE, 
      CITY_CODE, COUNTY_CODE, ADMIN_PHONE, 
      ADD_TIME, ADMIN_ACCOUNT)
    values (#{adminId,jdbcType=DECIMAL}, #{password,jdbcType=VARCHAR}, #{adminEmail,jdbcType=VARCHAR}, 
      #{adminName,jdbcType=OTHER}, #{companyName,jdbcType=OTHER}, #{provinceCode,jdbcType=VARCHAR}, 
      #{cityCode,jdbcType=VARCHAR}, #{countyCode,jdbcType=VARCHAR}, #{adminPhone,jdbcType=DECIMAL}, 
      #{addTime,jdbcType=TIMESTAMP}, #{adminAccount,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ampc.com.gistone.database.model.TAdmin" >
    insert into T_ADMIN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adminId != null" >
        ADMIN_ID,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="adminEmail != null" >
        ADMIN_EMAIL,
      </if>
      <if test="adminName != null" >
        ADMIN_NAME,
      </if>
      <if test="companyName != null" >
        COMPANY_NAME,
      </if>
      <if test="provinceCode != null" >
        PROVINCE_CODE,
      </if>
      <if test="cityCode != null" >
        CITY_CODE,
      </if>
      <if test="countyCode != null" >
        COUNTY_CODE,
      </if>
      <if test="adminPhone != null" >
        ADMIN_PHONE,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
      <if test="adminAccount != null" >
        ADMIN_ACCOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adminId != null" >
        #{adminId,jdbcType=DECIMAL},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="adminEmail != null" >
        #{adminEmail,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=OTHER},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=OTHER},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="countyCode != null" >
        #{countyCode,jdbcType=VARCHAR},
      </if>
      <if test="adminPhone != null" >
        #{adminPhone,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminAccount != null" >
        #{adminAccount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ampc.com.gistone.database.model.TAdmin" >
    update T_ADMIN
    <set >
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="adminEmail != null" >
        ADMIN_EMAIL = #{adminEmail,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null" >
        ADMIN_NAME = #{adminName,jdbcType=OTHER},
      </if>
      <if test="companyName != null" >
        COMPANY_NAME = #{companyName,jdbcType=OTHER},
      </if>
      <if test="provinceCode != null" >
        PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="countyCode != null" >
        COUNTY_CODE = #{countyCode,jdbcType=VARCHAR},
      </if>
      <if test="adminPhone != null" >
        ADMIN_PHONE = #{adminPhone,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="adminAccount != null" >
        ADMIN_ACCOUNT = #{adminAccount,jdbcType=VARCHAR},
      </if>
    </set>
    where ADMIN_ID = #{adminId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="ampc.com.gistone.database.model.TAdmin" >
    update T_ADMIN
    set PASSWORD = #{password,jdbcType=VARCHAR},
      ADMIN_EMAIL = #{adminEmail,jdbcType=VARCHAR},
      ADMIN_NAME = #{adminName,jdbcType=OTHER},
      COMPANY_NAME = #{companyName,jdbcType=OTHER},
      PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      COUNTY_CODE = #{countyCode,jdbcType=VARCHAR},
      ADMIN_PHONE = #{adminPhone,jdbcType=DECIMAL},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      ADMIN_ACCOUNT = #{adminAccount,jdbcType=VARCHAR}
    where ADMIN_ID = #{adminId,jdbcType=DECIMAL}
  </update>
</mapper>