<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.TEsCouplingMapper" >
  <resultMap id="BaseResultMap" type="ampc.com.gistone.database.model.TEsCoupling" >
    <id column="ES_COUPLING_ID" property="esCouplingId" jdbcType="DECIMAL" />
    <result column="ES_COUPLING_NAME" property="esCouplingName" jdbcType="OTHER" />
    <result column="ES_COUPLING_DESC" property="esCouplingDesc" jdbcType="OTHER" />
    <result column="ES_COUPLING_YEAR" property="esCouplingYear" jdbcType="DECIMAL" />
    <result column="ES_COUPLING_NATION_ID" property="esCouplingNationId" jdbcType="DECIMAL" />
    <result column="ES_COUPLING_NATIVE_ID" property="esCouplingNativeId" jdbcType="OTHER" />
    <result column="ES_COUPING_RELATION_ID" property="esCoupingRelationId" jdbcType="DECIMAL" />
    <result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="IS_EFFECTIVE" property="isEffective" jdbcType="VARCHAR" />
    <result column="DELETE_TIME" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="HISTORY_COUPLING" property="historyCoupling" jdbcType="VARCHAR" />
    <result column="ES_COUPLING_CITY" property="esCouplingCity" jdbcType="VARCHAR" />
    <result column="ES_COUPLING_STATUS" property="esCouplingStatus" jdbcType="VARCHAR" />
    <result column="ES_VERSION" property="esVersion" jdbcType="VARCHAR" />
    <result column="ES_COUPLING_NATIVETP_ID" property="esCouplingNativetpId" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ES_COUPLING_ID, ES_COUPLING_NAME, ES_COUPLING_DESC, ES_COUPLING_YEAR, ES_COUPLING_NATION_ID, 
    ES_COUPLING_NATIVE_ID, ES_COUPING_RELATION_ID, ADD_TIME, UPDATE_TIME, USER_ID, IS_EFFECTIVE, 
    DELETE_TIME, HISTORY_COUPLING, ES_COUPLING_CITY, ES_COUPLING_STATUS, ES_VERSION, 
    ES_COUPLING_NATIVETP_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_ES_COUPLING
    where ES_COUPLING_ID = #{esCouplingId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_ES_COUPLING
    where ES_COUPLING_ID = #{esCouplingId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="ampc.com.gistone.database.model.TEsCoupling" >
    insert into T_ES_COUPLING (ES_COUPLING_ID, ES_COUPLING_NAME, ES_COUPLING_DESC, 
      ES_COUPLING_YEAR, ES_COUPLING_NATION_ID, ES_COUPLING_NATIVE_ID, 
      ES_COUPING_RELATION_ID, ADD_TIME, UPDATE_TIME, 
      USER_ID, IS_EFFECTIVE, DELETE_TIME, 
      HISTORY_COUPLING, ES_COUPLING_CITY, ES_COUPLING_STATUS, 
      ES_VERSION, ES_COUPLING_NATIVETP_ID)
    values (#{esCouplingId,jdbcType=DECIMAL}, #{esCouplingName,jdbcType=OTHER}, #{esCouplingDesc,jdbcType=OTHER}, 
      #{esCouplingYear,jdbcType=DECIMAL}, #{esCouplingNationId,jdbcType=DECIMAL}, #{esCouplingNativeId,jdbcType=OTHER}, 
      #{esCoupingRelationId,jdbcType=DECIMAL}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=DECIMAL}, #{isEffective,jdbcType=VARCHAR}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{historyCoupling,jdbcType=VARCHAR}, #{esCouplingCity,jdbcType=VARCHAR}, #{esCouplingStatus,jdbcType=VARCHAR}, 
      #{esVersion,jdbcType=VARCHAR}, #{esCouplingNativetpId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="ampc.com.gistone.database.model.TEsCoupling" >
    insert into T_ES_COUPLING
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="esCouplingId != null" >
        ES_COUPLING_ID,
      </if>
      <if test="esCouplingName != null" >
        ES_COUPLING_NAME,
      </if>
      <if test="esCouplingDesc != null" >
        ES_COUPLING_DESC,
      </if>
      <if test="esCouplingYear != null" >
        ES_COUPLING_YEAR,
      </if>
      <if test="esCouplingNationId != null" >
        ES_COUPLING_NATION_ID,
      </if>
      <if test="esCouplingNativeId != null" >
        ES_COUPLING_NATIVE_ID,
      </if>
      <if test="esCoupingRelationId != null" >
        ES_COUPING_RELATION_ID,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE,
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME,
      </if>
      <if test="historyCoupling != null" >
        HISTORY_COUPLING,
      </if>
      <if test="esCouplingCity != null" >
        ES_COUPLING_CITY,
      </if>
      <if test="esCouplingStatus != null" >
        ES_COUPLING_STATUS,
      </if>
      <if test="esVersion != null" >
        ES_VERSION,
      </if>
      <if test="esCouplingNativetpId != null" >
        ES_COUPLING_NATIVETP_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="esCouplingId != null" >
        #{esCouplingId,jdbcType=DECIMAL},
      </if>
      <if test="esCouplingName != null" >
        #{esCouplingName,jdbcType=OTHER},
      </if>
      <if test="esCouplingDesc != null" >
        #{esCouplingDesc,jdbcType=OTHER},
      </if>
      <if test="esCouplingYear != null" >
        #{esCouplingYear,jdbcType=DECIMAL},
      </if>
      <if test="esCouplingNationId != null" >
        #{esCouplingNationId,jdbcType=DECIMAL},
      </if>
      <if test="esCouplingNativeId != null" >
        #{esCouplingNativeId,jdbcType=OTHER},
      </if>
      <if test="esCoupingRelationId != null" >
        #{esCoupingRelationId,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="isEffective != null" >
        #{isEffective,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="historyCoupling != null" >
        #{historyCoupling,jdbcType=VARCHAR},
      </if>
      <if test="esCouplingCity != null" >
        #{esCouplingCity,jdbcType=VARCHAR},
      </if>
      <if test="esCouplingStatus != null" >
        #{esCouplingStatus,jdbcType=VARCHAR},
      </if>
      <if test="esVersion != null" >
        #{esVersion,jdbcType=VARCHAR},
      </if>
      <if test="esCouplingNativetpId != null" >
        #{esCouplingNativetpId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ampc.com.gistone.database.model.TEsCoupling" >
    update T_ES_COUPLING
    <set >
      <if test="esCouplingName != null" >
        ES_COUPLING_NAME = #{esCouplingName,jdbcType=OTHER},
      </if>
      <if test="esCouplingDesc != null" >
        ES_COUPLING_DESC = #{esCouplingDesc,jdbcType=OTHER},
      </if>
      <if test="esCouplingYear != null" >
        ES_COUPLING_YEAR = #{esCouplingYear,jdbcType=DECIMAL},
      </if>
      <if test="esCouplingNationId != null" >
        ES_COUPLING_NATION_ID = #{esCouplingNationId,jdbcType=DECIMAL},
      </if>
      <if test="esCouplingNativeId != null" >
        ES_COUPLING_NATIVE_ID = #{esCouplingNativeId,jdbcType=OTHER},
      </if>
      <if test="esCoupingRelationId != null" >
        ES_COUPING_RELATION_ID = #{esCoupingRelationId,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="historyCoupling != null" >
        HISTORY_COUPLING = #{historyCoupling,jdbcType=VARCHAR},
      </if>
      <if test="esCouplingCity != null" >
        ES_COUPLING_CITY = #{esCouplingCity,jdbcType=VARCHAR},
      </if>
      <if test="esCouplingStatus != null" >
        ES_COUPLING_STATUS = #{esCouplingStatus,jdbcType=VARCHAR},
      </if>
      <if test="esVersion != null" >
        ES_VERSION = #{esVersion,jdbcType=VARCHAR},
      </if>
      <if test="esCouplingNativetpId != null" >
        ES_COUPLING_NATIVETP_ID = #{esCouplingNativetpId,jdbcType=DECIMAL},
      </if>
    </set>
    where ES_COUPLING_ID = #{esCouplingId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="ampc.com.gistone.database.model.TEsCoupling" >
    update T_ES_COUPLING
    set ES_COUPLING_NAME = #{esCouplingName,jdbcType=OTHER},
      ES_COUPLING_DESC = #{esCouplingDesc,jdbcType=OTHER},
      ES_COUPLING_YEAR = #{esCouplingYear,jdbcType=DECIMAL},
      ES_COUPLING_NATION_ID = #{esCouplingNationId,jdbcType=DECIMAL},
      ES_COUPLING_NATIVE_ID = #{esCouplingNativeId,jdbcType=OTHER},
      ES_COUPING_RELATION_ID = #{esCoupingRelationId,jdbcType=DECIMAL},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      USER_ID = #{userId,jdbcType=DECIMAL},
      IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR},
      DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
      HISTORY_COUPLING = #{historyCoupling,jdbcType=VARCHAR},
      ES_COUPLING_CITY = #{esCouplingCity,jdbcType=VARCHAR},
      ES_COUPLING_STATUS = #{esCouplingStatus,jdbcType=VARCHAR},
      ES_VERSION = #{esVersion,jdbcType=VARCHAR},
      ES_COUPLING_NATIVETP_ID = #{esCouplingNativetpId,jdbcType=DECIMAL}
    where ES_COUPLING_ID = #{esCouplingId,jdbcType=DECIMAL}
  </update>
   <!-- 根据用户Id查询所有清单 -->
   <resultMap id="selectAllMap" type="hashMap" >
    <id column="ES_COUPLING_ID" property="esCouplingId" jdbcType="DECIMAL" />
    <result column="ES_COUPLING_NAME" property="esCouplingName" jdbcType="OTHER" />
  </resultMap>
  
  <!-- 根据用户Id查询所有清单 -->
  <select id="selectAll" resultMap="selectAllMap" parameterType="java.lang.Long" >
    select 
    ES_COUPLING_ID, ES_COUPLING_NAME
    from T_ES_COUPLING
    where USER_ID = #{userId,jdbcType=DECIMAL} AND IS_EFFECTIVE=1 AND ES_COUPLING_STATUS=3
  </select>
  <!-- 根据用户Id查询全国清单 -->
  <select id="selectAllCoupling" resultMap="selectCouplingMap" parameterType="hashMap" >
    SELECT
	*
	FROM
		(
			SELECT
				ROWNUM AS rn,
				T .*
			FROM
				"AMPC"."T_ES_COUPLING" T
			WHERE
				USER_ID = #{userId,jdbcType=DECIMAL} order by ES_COUPLING_ID DESC
		)
	WHERE
		rn >= #{startTotal,jdbcType=OTHER}
	AND rn <![CDATA[<=]]> #{endTotal,jdbcType=OTHER}
  </select>
  <!-- 查询总条数 -->
  <select id="selectTotalCoupling"  parameterType="java.lang.Long" resultType="int">
    SELECT
	"COUNT" (ROWNUM)
	FROM
	"AMPC"."T_ES_COUPLING" T  WHERE USER_ID=#{userId,jdbcType=DECIMAL}
  </select>
  <!-- 编辑耦合清单 -->
  <update id="updateByIdSelective" parameterType="ampc.com.gistone.database.model.TEsCoupling" >
    update T_ES_COUPLING
    <set >
      <if test="esCouplingName != null" >
        ES_COUPLING_NAME = #{esCouplingName,jdbcType=OTHER},
      </if>
      <if test="esCouplingDesc != null" >
        ES_COUPLING_DESC = #{esCouplingDesc,jdbcType=OTHER},
      </if>
      <if test="esCouplingYear != null" >
        ES_COUPLING_YEAR = #{esCouplingYear,jdbcType=DECIMAL},
      </if>
      <if test="esCouplingNationId != null" >
        ES_COUPLING_NATION_ID = #{esCouplingNationId,jdbcType=DECIMAL},
      </if>
      <if test="esCouplingNativeId != null" >
        ES_COUPLING_NATIVE_ID = #{esCouplingNativeId,jdbcType=OTHER},
      </if>
      <if test="esCoupingRelationId != null" >
        ES_COUPING_RELATION_ID = #{esCoupingRelationId,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME = #{deleteTime,jdbcType=DATE},
      </if>
      <if test="historyCoupling != null" >
        HISTORY_COUPLING = #{historyCoupling,jdbcType=VARCHAR},
      </if>
      
      <if test="esCouplingCity != null" >
        ES_COUPLING_CITY = #{esCouplingCity,jdbcType=VARCHAR},
      </if>
      <if test="esCouplingStatus != null" >
        ES_COUPLING_STATUS = #{esCouplingStatus,jdbcType=VARCHAR},
      </if>
      <if test="esVersion != null" >
        ES_VERSION = #{esVersion,jdbcType=VARCHAR},
      </if>
      <if test="esCouplingNativetpId != null" >
        ES_COUPLING_NATIVETP_ID = #{esCouplingNativetpId,jdbcType=DECIMAL}
      </if>
    </set>
    where ES_COUPLING_ID = #{esCouplingId,jdbcType=DECIMAL} and 
    	USER_ID = #{userId,jdbcType=DECIMAL}
  </update>
  <!-- 根据清单ID查询模板ID -->
  <select id="selectTIdByCId" resultType="java.lang.Long" parameterType="hashMap" >
    select 
    ES_COUPLING_NATIVETP_ID
    from T_ES_COUPLING
    where ES_COUPLING_ID = #{esCouplingId,jdbcType=DECIMAL} and USER_ID = #{userId,jdbcType=DECIMAL}
  </select>
  <!-- 更新耦合清单状态为成功 -->
  <update id="updateStatusByPrimaryKey" parameterType="ampc.com.gistone.database.model.TEsCoupling" >
	  UPDATE T_ES_COUPLING
		SET ES_COUPLING_STATUS = 3
		WHERE
			ES_COUPLING_ID = #{esCouplingId,jdbcType=DECIMAL}
  </update>
  <!-- 耦合后更新耦合清单配置信息 -->
  <update id="updateDataByPrimaryKey" parameterType="ampc.com.gistone.database.model.TEsCoupling" >
	  UPDATE T_ES_COUPLING
		SET ES_COUPLING_NATION_ID = #{esCouplingNationId,jdbcType=DECIMAL}
		, ES_COUPLING_NATIVETP_ID = #{esCouplingNativetpId,jdbcType=DECIMAL}
		, ES_COUPLING_NATIVE_ID = #{esCouplingNativeId,jdbcType=OTHER}
		, ES_COUPLING_CITY = #{esCouplingCity,jdbcType=VARCHAR}
		, ES_COUPLING_STATUS = 2
		WHERE
			ES_COUPLING_ID = #{esCouplingId,jdbcType=DECIMAL}
  </update>
  
  <resultMap id="selectCouplingMap" type="hashMap" >
    <id column="ES_COUPLING_ID" property="esCouplingId" jdbcType="DECIMAL" />
    <result column="ES_COUPLING_NAME" property="esCouplingName" jdbcType="OTHER" />
    <result column="ES_COUPLING_DESC" property="esCouplingDesc" jdbcType="OTHER" />
    <result column="ES_COUPLING_YEAR" property="esCouplingYear" jdbcType="DECIMAL" />
    <result column="ES_COUPLING_NATION_ID" property="esCouplingNationId" jdbcType="DECIMAL" />
    <result column="ES_COUPLING_NATIVE_ID" property="esCouplingNativeId" jdbcType="OTHER" />
    <result column="ES_COUPING_RELATION_ID" property="esCoupingRelationId" jdbcType="DECIMAL" />
    <result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="IS_EFFECTIVE" property="isEffective" jdbcType="VARCHAR" />
    <result column="DELETE_TIME" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="HISTORY_COUPLING" property="historyCoupling" jdbcType="VARCHAR" />
    <result column="ES_COUPLING_CITY" property="esCouplingCity" jdbcType="VARCHAR" />
    <result column="ES_COUPLING_STATUS" property="esCouplingStatus" jdbcType="VARCHAR" />
    <result column="ES_VERSION" property="esVersion" jdbcType="VARCHAR" />
    <result column="ES_COUPLING_NATIVETP_ID" property="esCouplingNativetpId" jdbcType="DECIMAL" />
  </resultMap>
  
  <select id="selectCouplingByPrimaryKey" resultMap="selectCouplingMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_ES_COUPLING
    where ES_COUPLING_ID = #{esCouplingId,jdbcType=DECIMAL}
  </select>
  
</mapper>