<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.TEsNativeMapper" >
  <resultMap id="BaseResultMap" type="ampc.com.gistone.database.model.TEsNative" >
    <id column="ES_NATIVE_ID" property="esNativeId" jdbcType="DECIMAL" />
    <result column="ES_NATIVE_NAME" property="esNativeName" jdbcType="OTHER" />
    <result column="ES_NATIVE_YEAR" property="esNativeYear" jdbcType="DECIMAL" />
    <result column="UPLOAD_TIME" property="uploadTime" jdbcType="DATE" />
    <result column="ES_COMMENT" property="esComment" jdbcType="OTHER" />
    <result column="ES_NATIVE_RELATION_ID" property="esNativeRelationId" jdbcType="DECIMAL" />
    <result column="ADD_TIME" property="addTime" jdbcType="DATE" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="IS_EFFECTIVE" property="isEffective" jdbcType="VARCHAR" />
    <result column="DELETE_TIME" property="deleteTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ES_NATIVE_ID, ES_NATIVE_NAME, ES_NATIVE_YEAR, UPLOAD_TIME, ES_COMMENT, ES_NATIVE_RELATION_ID, 
    ADD_TIME, UPDATE_TIME, USER_ID, IS_EFFECTIVE, DELETE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_ES_NATIVE
    where ES_NATIVE_ID = #{esNativeId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_ES_NATIVE
    where ES_NATIVE_ID = #{esNativeId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="ampc.com.gistone.database.model.TEsNative" >
    insert into T_ES_NATIVE (ES_NATIVE_ID, ES_NATIVE_NAME, ES_NATIVE_YEAR, 
      UPLOAD_TIME, ES_COMMENT, ES_NATIVE_RELATION_ID, 
      ADD_TIME, UPDATE_TIME, USER_ID, 
      IS_EFFECTIVE, DELETE_TIME)
    values (#{esNativeId,jdbcType=DECIMAL}, #{esNativeName,jdbcType=OTHER}, #{esNativeYear,jdbcType=DECIMAL}, 
      #{uploadTime,jdbcType=DATE}, #{esComment,jdbcType=OTHER}, #{esNativeRelationId,jdbcType=DECIMAL}, 
      #{addTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE}, #{userId,jdbcType=DECIMAL}, 
      #{isEffective,jdbcType=VARCHAR}, #{deleteTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="ampc.com.gistone.database.model.TEsNative" >
    insert into T_ES_NATIVE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="esNativeId != null" >
        ES_NATIVE_ID,
      </if>
      <if test="esNativeName != null" >
        ES_NATIVE_NAME,
      </if>
      <if test="esNativeYear != null" >
        ES_NATIVE_YEAR,
      </if>
      <if test="uploadTime != null" >
        UPLOAD_TIME,
      </if>
      <if test="esComment != null" >
        ES_COMMENT,
      </if>
      <if test="esNativeRelationId != null" >
        ES_NATIVE_RELATION_ID,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE,
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="esNativeId != null" >
        #{esNativeId,jdbcType=DECIMAL},
      </if>
      <if test="esNativeName != null" >
        #{esNativeName,jdbcType=OTHER},
      </if>
      <if test="esNativeYear != null" >
        #{esNativeYear,jdbcType=DECIMAL},
      </if>
      <if test="uploadTime != null" >
        #{uploadTime,jdbcType=DATE},
      </if>
      <if test="esComment != null" >
        #{esComment,jdbcType=OTHER},
      </if>
      <if test="esNativeRelationId != null" >
        #{esNativeRelationId,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="isEffective != null" >
        #{isEffective,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ampc.com.gistone.database.model.TEsNative" >
    update T_ES_NATIVE
    <set >
      <if test="esNativeName != null" >
        ES_NATIVE_NAME = #{esNativeName,jdbcType=OTHER},
      </if>
      <if test="esNativeYear != null" >
        ES_NATIVE_YEAR = #{esNativeYear,jdbcType=DECIMAL},
      </if>
      <if test="uploadTime != null" >
        UPLOAD_TIME = #{uploadTime,jdbcType=DATE},
      </if>
      <if test="esComment != null" >
        ES_COMMENT = #{esComment,jdbcType=OTHER},
      </if>
      <if test="esNativeRelationId != null" >
        ES_NATIVE_RELATION_ID = #{esNativeRelationId,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME = #{deleteTime,jdbcType=DATE},
      </if>
    </set>
    where ES_NATIVE_ID = #{esNativeId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="ampc.com.gistone.database.model.TEsNative" >
    update T_ES_NATIVE
    set ES_NATIVE_NAME = #{esNativeName,jdbcType=OTHER},
      ES_NATIVE_YEAR = #{esNativeYear,jdbcType=DECIMAL},
      UPLOAD_TIME = #{uploadTime,jdbcType=DATE},
      ES_COMMENT = #{esComment,jdbcType=OTHER},
      ES_NATIVE_RELATION_ID = #{esNativeRelationId,jdbcType=DECIMAL},
      ADD_TIME = #{addTime,jdbcType=DATE},
      UPDATE_TIME = #{updateTime,jdbcType=DATE},
      USER_ID = #{userId,jdbcType=DECIMAL},
      IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR},
      DELETE_TIME = #{deleteTime,jdbcType=DATE}
    where ES_NATIVE_ID = #{esNativeId,jdbcType=DECIMAL}
  </update>
</mapper>