<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.TEsNativeTpMapper" >
  <resultMap id="BaseResultMap" type="ampc.com.gistone.database.model.TEsNativeTp" >
    <id column="ES_NATIVE_TP_ID" property="esNativeTpId" jdbcType="DECIMAL" />
    <result column="ES_NATIVE_TP_NAME" property="esNativeTpName" jdbcType="VARCHAR" />
    <result column="ES_NATIVE_TP_YEAR" property="esNativeTpYear" jdbcType="DECIMAL" />
    <result column="ES_UPLOAD_TP_TIME" property="esUploadTpTime" jdbcType="TIMESTAMP" />
    <result column="ES_COMMENT" property="esComment" jdbcType="VARCHAR" />
    <result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="IS_EFFECTIVE" property="isEffective" jdbcType="VARCHAR" />
    <result column="DELETE_TIME" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="ES_VERSION" property="esVersion" jdbcType="VARCHAR" />
    <result column="IS_UPLOAD" property="isUpload" jdbcType="VARCHAR" />
    <result column="FILEPATH" property="filePath" jdbcType="VARCHAR" />
    <result column="ES_NATIVE_TP_OUTPATH" property="esNativeTpOutPath" jdbcType="VARCHAR" />
    <result column="IS_VERIFY" property="isVerify" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="ListResultMap" type="hashMap" >
    <id column="ES_NATIVE_TP_ID" property="esNativeTpId" jdbcType="DECIMAL" />
    <result column="ES_NATIVE_TP_NAME" property="esNativeTpName" jdbcType="VARCHAR" />
    <result column="ES_NATIVE_TP_YEAR" property="esNativeTpYear" jdbcType="DECIMAL" />
    <result column="ES_UPLOAD_TP_TIME" property="esUploadTpTime" jdbcType="TIMESTAMP" />
    <result column="ES_COMMENT" property="esComment" jdbcType="VARCHAR" />
    <result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="IS_EFFECTIVE" property="isEffective" jdbcType="VARCHAR" />
    <result column="DELETE_TIME" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="ES_VERSION" property="esVersion" jdbcType="VARCHAR" />
    <result column="IS_UPLOAD" property="isUpload" jdbcType="VARCHAR" />
    <result column="FILEPATH" property="filePath" jdbcType="VARCHAR" />
    <result column="ES_NATIVE_TP_OUTPATH" property="esNativeTpOutPath" jdbcType="VARCHAR" />
    <result column="IS_VERIFY" property="isVerify" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ES_NATIVE_TP_ID, ES_NATIVE_TP_NAME, ES_NATIVE_TP_YEAR, ES_UPLOAD_TP_TIME, ES_COMMENT, 
    ADD_TIME, UPDATE_TIME, USER_ID, IS_EFFECTIVE, DELETE_TIME, ES_VERSION,IS_UPLOAD,FILEPATH,ES_NATIVE_TP_OUTPATH,IS_VERIFY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_ES_NATIVE_TP
    where ES_NATIVE_TP_ID = #{esNativeTpId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_ES_NATIVE_TP
    where ES_NATIVE_TP_ID = #{esNativeTpId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="ampc.com.gistone.database.model.TEsNativeTp" >
    insert into T_ES_NATIVE_TP (ES_NATIVE_TP_ID, ES_NATIVE_TP_NAME, ES_NATIVE_TP_YEAR, 
      ES_UPLOAD_TP_TIME, ES_COMMENT, ADD_TIME, 
      UPDATE_TIME, USER_ID, IS_EFFECTIVE, 
      DELETE_TIME, ES_VERSION,IS_UPLOAD,FILEPATH,ES_NATIVE_TP_OUTPATH,IS_VERIFY)
    values (#{esNativeTpId,jdbcType=DECIMAL}, #{esNativeTpName,jdbcType=VARCHAR}, #{esNativeTpYear,jdbcType=DECIMAL}, 
      #{esUploadTpTime,jdbcType=TIMESTAMP}, #{esComment,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=DECIMAL}, #{isEffective,jdbcType=VARCHAR}, 
      #{deleteTime,jdbcType=TIMESTAMP}, #{esVersion,jdbcType=VARCHAR}, #{isUpload,jdbcType=VARCHAR},#{filePath,jdbcType=VARCHAR},#{esNativeTpOutPath,jdbcType=VARCHAR},#{isVerify,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ampc.com.gistone.database.model.TEsNativeTp" >
    insert into T_ES_NATIVE_TP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="esNativeTpId != null" >
        ES_NATIVE_TP_ID,
      </if>
      <if test="esNativeTpName != null" >
        ES_NATIVE_TP_NAME,
      </if>
      <if test="esNativeTpYear != null" >
        ES_NATIVE_TP_YEAR,
      </if>
      <if test="esUploadTpTime != null" >
        ES_UPLOAD_TP_TIME,
      </if>
      <if test="esComment != null" >
        ES_COMMENT,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE,
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME,
      </if>
      <if test="esVersion != null" >
        ES_VERSION,
      </if>
      <if test="isUpload != null" >
        IS_UPLOAD,
      </if>
      <if test="filePath != null" >
        FILEPATH,
      </if>
      <if test="esNativeTpOutPath != null" >
        ES_NATIVE_TP_OUTPATH,
      </if>
      <if test="isVerify != null" >
        IS_VERIFY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="esNativeTpId != null" >
        #{esNativeTpId,jdbcType=DECIMAL},
      </if>
      <if test="esNativeTpName != null" >
        #{esNativeTpName,jdbcType=VARCHAR},
      </if>
      <if test="esNativeTpYear != null" >
        #{esNativeTpYear,jdbcType=DECIMAL},
      </if>
      <if test="esUploadTpTime != null" >
        #{esUploadTpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="esComment != null" >
        #{esComment,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="isEffective != null" >
        #{isEffective,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="esVersion != null" >
        #{esVersion,jdbcType=VARCHAR},
      </if>
      <if test="isUpload != null" >
        #{isUpload,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="esNativeTpOutPath != null" >
        #{esNativeTpOutPath,jdbcType=VARCHAR}
      </if>
      <if test="isVerify != null" >
        #{isVerify,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ampc.com.gistone.database.model.TEsNativeTp" >
    update T_ES_NATIVE_TP
    <set >
      <if test="esNativeTpName != null" >
        ES_NATIVE_TP_NAME = #{esNativeTpName,jdbcType=VARCHAR},
      </if>
      <if test="esNativeTpYear != null" >
        ES_NATIVE_TP_YEAR = #{esNativeTpYear,jdbcType=DECIMAL},
      </if>
      <if test="esUploadTpTime != null" >
        ES_UPLOAD_TP_TIME = #{esUploadTpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="esComment != null" >
        ES_COMMENT = #{esComment,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="esVersion != null" >
        ES_VERSION = #{esVersion,jdbcType=VARCHAR},
      </if>
      <if test="isUpload != null" >
        IS_UPLOAD = #{isUpload,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        FILEPATH = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="esNativeTpOutPath != null" >
        ES_NATIVE_TP_OUTPATH = #{esNativeTpOutPath,jdbcType=VARCHAR},
      </if>
      <if test="isVerify != null" >
        IS_VERIFY = #{isVerify,jdbcType=VARCHAR}
      </if>
    </set>
    where ES_NATIVE_TP_ID = #{esNativeTpId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="ampc.com.gistone.database.model.TEsNativeTp" >
    update T_ES_NATIVE_TP
    set ES_NATIVE_TP_NAME = #{esNativeTpName,jdbcType=VARCHAR},
      ES_NATIVE_TP_YEAR = #{esNativeTpYear,jdbcType=DECIMAL},
      ES_UPLOAD_TP_TIME = #{esUploadTpTime,jdbcType=TIMESTAMP},
      ES_COMMENT = #{esComment,jdbcType=VARCHAR},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      USER_ID = #{userId,jdbcType=DECIMAL},
      IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR},
      DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
      ES_VERSION = #{esVersion,jdbcType=VARCHAR},
      IS_UPLOAD = #{isUpload,jdbcType=VARCHAR},
      FILEPATH = #{filePath,jdbcType=VARCHAR},
      ES_NATIVE_TP_OUTPATH = #{esNativeTpOutPath,jdbcType=VARCHAR},
      IS_VERIFY = #{isVerify,jdbcType=VARCHAR}
    where ES_NATIVE_TP_ID = #{esNativeTpId,jdbcType=DECIMAL}
  </update>
  
<select id="selecttesNativeTp" resultMap="ListResultMap" parameterType="ampc.com.gistone.database.model.TEsNativeTp" >
    select 
    <include refid="Base_Column_List" />
    from T_ES_NATIVE_TP
    where USER_ID = #{userId,jdbcType=DECIMAL} AND	IS_VERIFY = 1
  </select>
  <!-- 编辑本地清单模板 -->
  <update id="updateByIdSelective" parameterType="ampc.com.gistone.database.model.TEsNativeTp" >
    update T_ES_NATIVE_TP
    <set >
      <if test="esNativeTpName != null" >
        ES_NATIVE_TP_NAME = #{esNativeTpName,jdbcType=VARCHAR},
      </if>
      <if test="esNativeTpYear != null" >
        ES_NATIVE_TP_YEAR = #{esNativeTpYear,jdbcType=DECIMAL},
      </if>
      <if test="esUploadTpTime != null" >
        ES_UPLOAD_TP_TIME = #{esUploadTpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="esComment != null" >
        ES_COMMENT = #{esComment,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="esVersion != null" >
        ES_VERSION = #{esVersion,jdbcType=VARCHAR},
      </if>
      <if test="isUpload != null" >
        IS_UPLOAD = #{isUpload,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        FILEPATH = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="esNativeTpOutPath != null" >
        ES_NATIVE_TP_OUTPATH = #{esNativeTpOutPath,jdbcType=VARCHAR},
      </if>
      <if test="isVerify != null" >
        IS_VERIFY = #{isVerify,jdbcType=VARCHAR}
      </if>
    </set>
    where ES_NATIVE_TP_ID = #{esNativeTpId,jdbcType=DECIMAL} and 
    	USER_ID = #{userId,jdbcType=DECIMAL}
  </update>
  <!-- 根据用户Id查询本地清单模板 -->
  <select id="selectAllNativeTp" resultMap="ListResultMap" parameterType="hashMap" >
    SELECT
	*
	FROM
		(
			SELECT
				ROWNUM AS rn,
				T .*
			FROM
				"AMPC"."T_ES_NATIVE_TP" T
			WHERE
				USER_ID = #{userId,jdbcType=DECIMAL}
				order by ES_NATIVE_TP_ID DESC
		)
	WHERE
		rn >= #{startTotal,jdbcType=OTHER}
	AND rn <![CDATA[<=]]> #{endTotal,jdbcType=OTHER}
  </select>
  <!-- 查询总条数 -->
  <select id="selectTotalNativeTp"  parameterType="java.lang.Long" resultType="int">
    SELECT
	"COUNT" (ROWNUM)
	FROM
	"AMPC"."T_ES_NATIVE_TP" T  WHERE USER_ID=#{userId,jdbcType=DECIMAL}
  </select>
  
  <select id="selectByKey" resultMap="BaseResultMap" parameterType="hashMap" >
    select 
    <include refid="Base_Column_List" />
    from T_ES_NATIVE_TP
    where  USER_ID = #{userId,jdbcType=DECIMAL}
    AND ES_NATIVE_TP_NAME = #{nativeTpName,jdbcType=VARCHAR} AND ES_NATIVE_TP_YEAR = #{nativeTpYear,jdbcType=DECIMAL}
     AND ES_COMMENT = #{nativeTpRemark,jdbcType=VARCHAR}
  </select>
  <!-- 校验清单模板名称 -->
  <select id="verifyNativeTpName"  parameterType="ampc.com.gistone.database.model.TEsNativeTp" resultType="int">
    SELECT
	"COUNT"(*)
	FROM
		"AMPC"."T_ES_NATIVE_TP"
	WHERE
		ES_NATIVE_TP_NAME = #{esNativeTpName,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByNativeTpName" resultType="ampc.com.gistone.database.model.TEsNative" parameterType="java.lang.String" >
    SELECT
	*
FROM
	"AMPC"."T_ES_NATIVE_TP"
WHERE
	ES_NATIVE_TP_NAME = #{esNativeTpName,jdbcType=VARCHAR}
  </select>
</mapper>