<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.TTasksStatusMapper" >
  <resultMap id="BaseResultMap" type="ampc.com.gistone.database.model.TTasksStatus" >
    <id column="TASKS_ID" property="tasksId" jdbcType="DECIMAL" />
    <result column="TASKS_SCENARINO_ID" property="tasksScenarinoId" jdbcType="DECIMAL" />
    <result column="MODEL_ERROR_STATUS" property="modelErrorStatus" jdbcType="VARCHAR" />
    <result column="TASKS_SCENARINO_START_DATE" property="tasksScenarinoStartDate" jdbcType="TIMESTAMP" />
    <result column="TASKS_SCENARINO_END_DATE" property="tasksScenarinoEndDate" jdbcType="TIMESTAMP" />
    <result column="TASKS_RANGE_DAY" property="tasksRangeDay" jdbcType="DECIMAL" />
    <result column="STEPINDEX" property="stepindex" jdbcType="DECIMAL" />
    <result column="TASKS_END_DATE" property="tasksEndDate" jdbcType="TIMESTAMP" />
    <result column="SOURCEID" property="sourceid" jdbcType="VARCHAR" />
    <result column="CALCTYPE" property="calctype" jdbcType="VARCHAR" />
    <result column="PSAL" property="psal" jdbcType="VARCHAR" />
    <result column="SSAL" property="ssal" jdbcType="VARCHAR" />
    <result column="MEICCITYCONFIG" property="meiccityconfig" jdbcType="VARCHAR" />
    <result column="BEIZHU" property="beizhu" jdbcType="VARCHAR" />
    <result column="BEIZHU2" property="beizhu2" jdbcType="VARCHAR" />
    <result column="BEIZHU3" property="beizhu3" jdbcType="VARCHAR" />
    <result column="STOP_STATUS" property="stopStatus" jdbcType="VARCHAR" />
    <result column="TASKS_SEND_TIME" property="tasksSendTime" jdbcType="TIMESTAMP" />
    <result column="TASKS_END_TIME" property="tasksEndTime" jdbcType="TIMESTAMP" />
    <result column="START_MODEL_RESULT" property="startModelResult" jdbcType="VARCHAR" />
    <result column="STOP_MODEL_RESULT" property="stopModelResult" jdbcType="VARCHAR" />
    <result column="CONTUNUE_STATUS" property="contunueStatus" jdbcType="VARCHAR" />
    <result column="PAUSE_STATUS" property="pauseStatus" jdbcType="VARCHAR" />
    <result column="TASKS_EXPAND1" property="tasksExpand1" jdbcType="DECIMAL" />
    <result column="TASKS_EXPAND2" property="tasksExpand2" jdbcType="TIMESTAMP" />
    <result column="TASKS_EXPAND3" property="tasksExpand3" jdbcType="VARCHAR" />
    <result column="TASKS_EXPAND4" property="tasksExpand4" jdbcType="VARCHAR" />
    <result column="TASKS_EXPAND5" property="tasksExpand5" jdbcType="VARCHAR" />
    <result column="TASKS_UPDATE_TIME" property="tasksUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    TASKS_ID, TASKS_SCENARINO_ID, MODEL_ERROR_STATUS, TASKS_SCENARINO_START_DATE, TASKS_SCENARINO_END_DATE, 
    TASKS_RANGE_DAY, STEPINDEX, TASKS_END_DATE, SOURCEID, CALCTYPE, PSAL, SSAL, MEICCITYCONFIG, 
    BEIZHU, BEIZHU2, BEIZHU3, STOP_STATUS, TASKS_SEND_TIME, TASKS_END_TIME, START_MODEL_RESULT, 
    STOP_MODEL_RESULT, CONTUNUE_STATUS, PAUSE_STATUS, TASKS_EXPAND1, TASKS_EXPAND2, TASKS_EXPAND3, 
    TASKS_EXPAND4, TASKS_EXPAND5, TASKS_UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_TASKS_STATUS
    where TASKS_ID = #{tasksId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_TASKS_STATUS
    where TASKS_ID = #{tasksId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="ampc.com.gistone.database.model.TTasksStatus" >
    insert into T_TASKS_STATUS (TASKS_ID, TASKS_SCENARINO_ID, MODEL_ERROR_STATUS, 
      TASKS_SCENARINO_START_DATE, TASKS_SCENARINO_END_DATE, 
      TASKS_RANGE_DAY, STEPINDEX, TASKS_END_DATE, 
      SOURCEID, CALCTYPE, PSAL, 
      SSAL, MEICCITYCONFIG, BEIZHU, 
      BEIZHU2, BEIZHU3, STOP_STATUS, 
      TASKS_SEND_TIME, TASKS_END_TIME, START_MODEL_RESULT, 
      STOP_MODEL_RESULT, CONTUNUE_STATUS, PAUSE_STATUS, 
      TASKS_EXPAND1, TASKS_EXPAND2, TASKS_EXPAND3, 
      TASKS_EXPAND4, TASKS_EXPAND5, TASKS_UPDATE_TIME
      )
    values (#{tasksId,jdbcType=DECIMAL}, #{tasksScenarinoId,jdbcType=DECIMAL}, #{modelErrorStatus,jdbcType=VARCHAR}, 
      #{tasksScenarinoStartDate,jdbcType=TIMESTAMP}, #{tasksScenarinoEndDate,jdbcType=TIMESTAMP}, 
      #{tasksRangeDay,jdbcType=DECIMAL}, #{stepindex,jdbcType=DECIMAL}, #{tasksEndDate,jdbcType=TIMESTAMP}, 
      #{sourceid,jdbcType=VARCHAR}, #{calctype,jdbcType=VARCHAR}, #{psal,jdbcType=VARCHAR}, 
      #{ssal,jdbcType=VARCHAR}, #{meiccityconfig,jdbcType=VARCHAR}, #{beizhu,jdbcType=VARCHAR}, 
      #{beizhu2,jdbcType=VARCHAR}, #{beizhu3,jdbcType=VARCHAR}, #{stopStatus,jdbcType=VARCHAR}, 
      #{tasksSendTime,jdbcType=TIMESTAMP}, #{tasksEndTime,jdbcType=TIMESTAMP}, #{startModelResult,jdbcType=VARCHAR}, 
      #{stopModelResult,jdbcType=VARCHAR}, #{contunueStatus,jdbcType=VARCHAR}, #{pauseStatus,jdbcType=VARCHAR}, 
      #{tasksExpand1,jdbcType=DECIMAL}, #{tasksExpand2,jdbcType=TIMESTAMP}, #{tasksExpand3,jdbcType=VARCHAR}, 
      #{tasksExpand4,jdbcType=VARCHAR}, #{tasksExpand5,jdbcType=VARCHAR}, #{tasksUpdateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="ampc.com.gistone.database.model.TTasksStatus" >
    insert into T_TASKS_STATUS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tasksId != null" >
        TASKS_ID,
      </if>
      <if test="tasksScenarinoId != null" >
        TASKS_SCENARINO_ID,
      </if>
      <if test="modelErrorStatus != null" >
        MODEL_ERROR_STATUS,
      </if>
      <if test="tasksScenarinoStartDate != null" >
        TASKS_SCENARINO_START_DATE,
      </if>
      <if test="tasksScenarinoEndDate != null" >
        TASKS_SCENARINO_END_DATE,
      </if>
      <if test="tasksRangeDay != null" >
        TASKS_RANGE_DAY,
      </if>
      <if test="stepindex != null" >
        STEPINDEX,
      </if>
      <if test="tasksEndDate != null" >
        TASKS_END_DATE,
      </if>
      <if test="sourceid != null" >
        SOURCEID,
      </if>
      <if test="calctype != null" >
        CALCTYPE,
      </if>
      <if test="psal != null" >
        PSAL,
      </if>
      <if test="ssal != null" >
        SSAL,
      </if>
      <if test="meiccityconfig != null" >
        MEICCITYCONFIG,
      </if>
      <if test="beizhu != null" >
        BEIZHU,
      </if>
      <if test="beizhu2 != null" >
        BEIZHU2,
      </if>
      <if test="beizhu3 != null" >
        BEIZHU3,
      </if>
      <if test="stopStatus != null" >
        STOP_STATUS,
      </if>
      <if test="tasksSendTime != null" >
        TASKS_SEND_TIME,
      </if>
      <if test="tasksEndTime != null" >
        TASKS_END_TIME,
      </if>
      <if test="startModelResult != null" >
        START_MODEL_RESULT,
      </if>
      <if test="stopModelResult != null" >
        STOP_MODEL_RESULT,
      </if>
      <if test="contunueStatus != null" >
        CONTUNUE_STATUS,
      </if>
      <if test="pauseStatus != null" >
        PAUSE_STATUS,
      </if>
      <if test="tasksExpand1 != null" >
        TASKS_EXPAND1,
      </if>
      <if test="tasksExpand2 != null" >
        TASKS_EXPAND2,
      </if>
      <if test="tasksExpand3 != null" >
        TASKS_EXPAND3,
      </if>
      <if test="tasksExpand4 != null" >
        TASKS_EXPAND4,
      </if>
      <if test="tasksExpand5 != null" >
        TASKS_EXPAND5,
      </if>
      <if test="tasksUpdateTime != null" >
        TASKS_UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tasksId != null" >
        #{tasksId,jdbcType=DECIMAL},
      </if>
      <if test="tasksScenarinoId != null" >
        #{tasksScenarinoId,jdbcType=DECIMAL},
      </if>
      <if test="modelErrorStatus != null" >
        #{modelErrorStatus,jdbcType=VARCHAR},
      </if>
      <if test="tasksScenarinoStartDate != null" >
        #{tasksScenarinoStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tasksScenarinoEndDate != null" >
        #{tasksScenarinoEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tasksRangeDay != null" >
        #{tasksRangeDay,jdbcType=DECIMAL},
      </if>
      <if test="stepindex != null" >
        #{stepindex,jdbcType=DECIMAL},
      </if>
      <if test="tasksEndDate != null" >
        #{tasksEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sourceid != null" >
        #{sourceid,jdbcType=VARCHAR},
      </if>
      <if test="calctype != null" >
        #{calctype,jdbcType=VARCHAR},
      </if>
      <if test="psal != null" >
        #{psal,jdbcType=VARCHAR},
      </if>
      <if test="ssal != null" >
        #{ssal,jdbcType=VARCHAR},
      </if>
      <if test="meiccityconfig != null" >
        #{meiccityconfig,jdbcType=VARCHAR},
      </if>
      <if test="beizhu != null" >
        #{beizhu,jdbcType=VARCHAR},
      </if>
      <if test="beizhu2 != null" >
        #{beizhu2,jdbcType=VARCHAR},
      </if>
      <if test="beizhu3 != null" >
        #{beizhu3,jdbcType=VARCHAR},
      </if>
      <if test="stopStatus != null" >
        #{stopStatus,jdbcType=VARCHAR},
      </if>
      <if test="tasksSendTime != null" >
        #{tasksSendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tasksEndTime != null" >
        #{tasksEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startModelResult != null" >
        #{startModelResult,jdbcType=VARCHAR},
      </if>
      <if test="stopModelResult != null" >
        #{stopModelResult,jdbcType=VARCHAR},
      </if>
      <if test="contunueStatus != null" >
        #{contunueStatus,jdbcType=VARCHAR},
      </if>
      <if test="pauseStatus != null" >
        #{pauseStatus,jdbcType=VARCHAR},
      </if>
      <if test="tasksExpand1 != null" >
        #{tasksExpand1,jdbcType=DECIMAL},
      </if>
      <if test="tasksExpand2 != null" >
        #{tasksExpand2,jdbcType=TIMESTAMP},
      </if>
      <if test="tasksExpand3 != null" >
        #{tasksExpand3,jdbcType=VARCHAR},
      </if>
      <if test="tasksExpand4 != null" >
        #{tasksExpand4,jdbcType=VARCHAR},
      </if>
      <if test="tasksExpand5 != null" >
        #{tasksExpand5,jdbcType=VARCHAR},
      </if>
      <if test="tasksUpdateTime != null" >
        #{tasksUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ampc.com.gistone.database.model.TTasksStatus" >
    update T_TASKS_STATUS
    <set >
      <if test="tasksScenarinoId != null" >
        TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL},
      </if>
      <if test="modelErrorStatus != null" >
        MODEL_ERROR_STATUS = #{modelErrorStatus,jdbcType=VARCHAR},
      </if>
      <if test="tasksScenarinoStartDate != null" >
        TASKS_SCENARINO_START_DATE = #{tasksScenarinoStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tasksScenarinoEndDate != null" >
        TASKS_SCENARINO_END_DATE = #{tasksScenarinoEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tasksRangeDay != null" >
        TASKS_RANGE_DAY = #{tasksRangeDay,jdbcType=DECIMAL},
      </if>
      <if test="stepindex != null" >
        STEPINDEX = #{stepindex,jdbcType=DECIMAL},
      </if>
      <if test="tasksEndDate != null" >
        TASKS_END_DATE = #{tasksEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sourceid != null" >
        SOURCEID = #{sourceid,jdbcType=VARCHAR},
      </if>
      <if test="calctype != null" >
        CALCTYPE = #{calctype,jdbcType=VARCHAR},
      </if>
      <if test="psal != null" >
        PSAL = #{psal,jdbcType=VARCHAR},
      </if>
      <if test="ssal != null" >
        SSAL = #{ssal,jdbcType=VARCHAR},
      </if>
      <if test="meiccityconfig != null" >
        MEICCITYCONFIG = #{meiccityconfig,jdbcType=VARCHAR},
      </if>
      <if test="beizhu != null" >
        BEIZHU = #{beizhu,jdbcType=VARCHAR},
      </if>
      <if test="beizhu2 != null" >
        BEIZHU2 = #{beizhu2,jdbcType=VARCHAR},
      </if>
      <if test="beizhu3 != null" >
        BEIZHU3 = #{beizhu3,jdbcType=VARCHAR},
      </if>
      <if test="stopStatus != null" >
        STOP_STATUS = #{stopStatus,jdbcType=VARCHAR},
      </if>
      <if test="tasksSendTime != null" >
        TASKS_SEND_TIME = #{tasksSendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tasksEndTime != null" >
        TASKS_END_TIME = #{tasksEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startModelResult != null" >
        START_MODEL_RESULT = #{startModelResult,jdbcType=VARCHAR},
      </if>
      <if test="stopModelResult != null" >
        STOP_MODEL_RESULT = #{stopModelResult,jdbcType=VARCHAR},
      </if>
      <if test="contunueStatus != null" >
        CONTUNUE_STATUS = #{contunueStatus,jdbcType=VARCHAR},
      </if>
      <if test="pauseStatus != null" >
        PAUSE_STATUS = #{pauseStatus,jdbcType=VARCHAR},
      </if>
      <if test="tasksExpand1 != null" >
        TASKS_EXPAND1 = #{tasksExpand1,jdbcType=DECIMAL},
      </if>
      <if test="tasksExpand2 != null" >
        TASKS_EXPAND2 = #{tasksExpand2,jdbcType=TIMESTAMP},
      </if>
      <if test="tasksExpand3 != null" >
        TASKS_EXPAND3 = #{tasksExpand3,jdbcType=VARCHAR},
      </if>
      <if test="tasksExpand4 != null" >
        TASKS_EXPAND4 = #{tasksExpand4,jdbcType=VARCHAR},
      </if>
      <if test="tasksExpand5 != null" >
        TASKS_EXPAND5 = #{tasksExpand5,jdbcType=VARCHAR},
      </if>
      <if test="tasksUpdateTime != null" >
        TASKS_UPDATE_TIME = #{tasksUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TASKS_ID = #{tasksId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="ampc.com.gistone.database.model.TTasksStatus" >
    update T_TASKS_STATUS
    set TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL},
      MODEL_ERROR_STATUS = #{modelErrorStatus,jdbcType=VARCHAR},
      TASKS_SCENARINO_START_DATE = #{tasksScenarinoStartDate,jdbcType=TIMESTAMP},
      TASKS_SCENARINO_END_DATE = #{tasksScenarinoEndDate,jdbcType=TIMESTAMP},
      TASKS_RANGE_DAY = #{tasksRangeDay,jdbcType=DECIMAL},
      STEPINDEX = #{stepindex,jdbcType=DECIMAL},
      TASKS_END_DATE = #{tasksEndDate,jdbcType=TIMESTAMP},
      SOURCEID = #{sourceid,jdbcType=VARCHAR},
      CALCTYPE = #{calctype,jdbcType=VARCHAR},
      PSAL = #{psal,jdbcType=VARCHAR},
      SSAL = #{ssal,jdbcType=VARCHAR},
      MEICCITYCONFIG = #{meiccityconfig,jdbcType=VARCHAR},
      BEIZHU = #{beizhu,jdbcType=VARCHAR},
      BEIZHU2 = #{beizhu2,jdbcType=VARCHAR},
      BEIZHU3 = #{beizhu3,jdbcType=VARCHAR},
      STOP_STATUS = #{stopStatus,jdbcType=VARCHAR},
      TASKS_SEND_TIME = #{tasksSendTime,jdbcType=TIMESTAMP},
      TASKS_END_TIME = #{tasksEndTime,jdbcType=TIMESTAMP},
      START_MODEL_RESULT = #{startModelResult,jdbcType=VARCHAR},
      STOP_MODEL_RESULT = #{stopModelResult,jdbcType=VARCHAR},
      CONTUNUE_STATUS = #{contunueStatus,jdbcType=VARCHAR},
      PAUSE_STATUS = #{pauseStatus,jdbcType=VARCHAR},
      TASKS_EXPAND1 = #{tasksExpand1,jdbcType=DECIMAL},
      TASKS_EXPAND2 = #{tasksExpand2,jdbcType=TIMESTAMP},
      TASKS_EXPAND3 = #{tasksExpand3,jdbcType=VARCHAR},
      TASKS_EXPAND4 = #{tasksExpand4,jdbcType=VARCHAR},
      TASKS_EXPAND5 = #{tasksExpand5,jdbcType=VARCHAR},
      TASKS_UPDATE_TIME = #{tasksUpdateTime,jdbcType=TIMESTAMP}
    where TASKS_ID = #{tasksId,jdbcType=DECIMAL}
  </update>
  
  
   <!--通过情景ID获取该情景的减排系数  -->
  <select id="selectEmisDataByScenId" parameterType="java.lang.Long" resultMap="BaseResultMap">
  select 
    <include refid="Base_Column_List" />
    from T_TASKS_STATUS
    where TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL}
  </select>
  
  <!--添加减排系数  -->
  <update id="updateEmisData" parameterType="ampc.com.gistone.database.model.TTasksStatus" >
  update T_TASKS_STATUS
  <set >
  <if test="sourceid != null" >
    SOURCEID = #{sourceid,jdbcType=VARCHAR},
  </if>
  <if test="calctype != null" >
    CALCTYPE = #{calctype,jdbcType=VARCHAR},
  </if>
  <if test="psal != null" >
      PSAL = #{psal,jdbcType=VARCHAR},
  </if>
  <if test="ssal != null" >
     SSAL = #{ssal,jdbcType=VARCHAR},
  </if>
  <if test="meiccityconfig != null" >
      MEICCITYCONFIG = #{meiccityconfig,jdbcType=VARCHAR},
  </if>
  <if test="tasksExpand1 != null" >
      TASKS_EXPAND1 = #{tasksExpand1,jdbcType=DECIMAL},
  </if>
  <if test="tasksExpand3 != null" >
      TASKS_EXPAND3 = #{tasksExpand3,jdbcType=VARCHAR},
  </if>
  </set>
  where TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL}
  </update>
  <!--清空模式运行的结果  -->
  <update id="updatecleanStatus" parameterType="ampc.com.gistone.database.model.TTasksStatus">
  update T_TASKS_STATUS
  <set >
  <if test="tasksScenarinoId != null" >
        TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL},
      </if>
      <if test="modelErrorStatus != null" >
        MODEL_ERROR_STATUS = #{modelErrorStatus,jdbcType=VARCHAR},
      </if>
      <if test="tasksScenarinoStartDate != null" >
        TASKS_SCENARINO_START_DATE = #{tasksScenarinoStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tasksScenarinoEndDate != null" >
        TASKS_SCENARINO_END_DATE = #{tasksScenarinoEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tasksRangeDay != null" >
        TASKS_RANGE_DAY = #{tasksRangeDay,jdbcType=DECIMAL},
      </if>
      <if test="stepindex != null" >
        STEPINDEX = #{stepindex,jdbcType=DECIMAL},
      </if>
      <if test="tasksEndDate != null" >
        TASKS_END_DATE = #{tasksEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sourceid != null" >
        SOURCEID = #{sourceid,jdbcType=VARCHAR},
      </if>
      <if test="calctype != null" >
        CALCTYPE = #{calctype,jdbcType=VARCHAR},
      </if>
      <if test="psal != null" >
        PSAL = #{psal,jdbcType=VARCHAR},
      </if>
      <if test="ssal != null" >
        SSAL = #{ssal,jdbcType=VARCHAR},
      </if>
      <if test="meiccityconfig != null" >
        MEICCITYCONFIG = #{meiccityconfig,jdbcType=VARCHAR},
      </if>
      <if test="beizhu != null" >
        BEIZHU = #{beizhu,jdbcType=VARCHAR},
      </if>
      <if test="beizhu2 != null" >
        BEIZHU2 = #{beizhu2,jdbcType=VARCHAR},
      </if>
      <if test="beizhu3 != null" >
        BEIZHU3 = #{beizhu3,jdbcType=VARCHAR},
      </if>
      <if test="stopStatus != null" >
        STOP_STATUS = #{stopStatus,jdbcType=VARCHAR},
      </if>
      <if test="tasksSendTime != null" >
        TASKS_SEND_TIME = #{tasksSendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tasksEndTime != null" >
        TASKS_END_TIME = #{tasksEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startModelResult != null" >
        START_MODEL_RESULT = #{startModelResult,jdbcType=VARCHAR},
      </if>
      <if test="stopModelResult != null" >
        STOP_MODEL_RESULT = #{stopModelResult,jdbcType=VARCHAR},
      </if>
      <if test="contunueStatus != null" >
        CONTUNUE_STATUS = #{contunueStatus,jdbcType=VARCHAR},
      </if>
      <if test="pauseStatus != null" >
        PAUSE_STATUS = #{pauseStatus,jdbcType=VARCHAR},
      </if>
    <if test="tasksExpand1 != null" >
        TASKS_EXPAND1 = #{tasksExpand1,jdbcType=DECIMAL},
      </if>
      <if test="tasksExpand2 != null" >
        TASKS_EXPAND2 = #{tasksExpand2,jdbcType=TIMESTAMP},
      </if>
      <if test="tasksExpand3 != null" >
        TASKS_EXPAND3 = #{tasksExpand3,jdbcType=VARCHAR},
      </if>
      <if test="tasksExpand4 != null" >
        TASKS_EXPAND4 = #{tasksExpand4,jdbcType=VARCHAR},
      </if>
      <if test="tasksExpand5 != null" >
        TASKS_EXPAND5 = #{tasksExpand5,jdbcType=VARCHAR},
      </if>
      <if test="tasksUpdateTime != null" >
        TASKS_UPDATE_TIME = #{tasksUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL}
  </update>
  <!--添加执行模式执行的结果  BEIZHU = #{beizhu,jdbcType=VARCHAR}-->
  <update id="updateStatus" parameterType="ampc.com.gistone.database.model.TTasksStatus">
  update T_TASKS_STATUS
  set MODEL_ERROR_STATUS = #{modelErrorStatus,jdbcType=VARCHAR},
  STEPINDEX = #{stepindex,jdbcType=DECIMAL},
  TASKS_END_DATE = #{tasksEndDate,jdbcType=TIMESTAMP}
  where TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL}
  </update>
   <!--修改存在状态  BEIZHU = #{beizhu,jdbcType=VARCHAR}-->
   <update id="updateinf" parameterType="java.lang.Long">
  update T_TASKS_STATUS
  set BEIZHU3 = '0'
  where TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL}
  </update>
 
  <!--测试方法 通过情景ID查找运行状态 -->
  <select id="selectendByscenarinoId" resultMap="BaseResultMap" parameterType="java.lang.Long">
  select 
  <include refid="Base_Column_List" />
  from T_TASKS_STATUS where TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL}
  </select>
  
  <!-- 从tasksStatus表里获取情景的天数 开始时间和结束时间 -->
  <resultMap id="rangeResultMap" type="ampc.com.gistone.database.model.TTasksStatus" >
    <id column="TASKS_ID" property="tasksId" jdbcType="DECIMAL" />
    <result column="TASKS_SCENARINO_ID" property="tasksScenarinoId" jdbcType="DECIMAL" />
    <result column="MODEL_ERROR_STATUS" property="modelErrorStatus" jdbcType="VARCHAR" />
     <result column="TASKS_SCENARINO_START_DATE" property="tasksScenarinoStartDate" jdbcType="TIMESTAMP" />
    <result column="TASKS_SCENARINO_END_DATE" property="tasksScenarinoEndDate" jdbcType="TIMESTAMP" />
    <result column="TASKS_RANGE_DAY" property="tasksRangeDay" jdbcType="DECIMAL" />
    <result column="STEPINDEX" property="stepindex" jdbcType="DECIMAL" />
    <result column="TASKS_END_DATE" property="tasksEndDate" jdbcType="TIMESTAMP" />
    </resultMap>
  <sql id="range_Column_List" >
     TASKS_ID,TASKS_SCENARINO_ID,MODEL_ERROR_STATUS,TASKS_SCENARINO_START_DATE, TASKS_SCENARINO_END_DATE, 
    TASKS_RANGE_DAY,STEPINDEX,TASKS_END_DATE
  </sql>
  <select id="getRangeTime" resultMap="rangeResultMap" parameterType="java.lang.Long" >
  select
  <include refid="range_Column_List"/>
  from T_TASKS_STATUS
  where TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL}
  </select>
  
  <!-- 查找tasks状态 -->
  <select id="selectStatus" resultMap="BaseResultMap" parameterType="java.lang.Long">
  select
  <include refid="Base_Column_List" />
  from T_TASKS_STATUS
  where TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL}
  </select>
  <!--跟新tasks的可用状态  -->
  <update id="updateRunstatus" parameterType="ampc.com.gistone.database.model.TTasksStatus">
  update T_TASKS_STATUS
  set BEIZHU = #{beizhu,jdbcType=VARCHAR}
  where TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL}
  </update>
<!--查找返回模式执行的结果  -->
<select id="selectStartModelresult"  parameterType="java.lang.Long" resultType="java.lang.String">
select START_MODEL_RESULT from T_TASKS_STATUS where TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL}
</select>
  
  <!--查找预评估任务情景的task任务执行情况的全部情景  步数是个未知数-->
  
<!--   <select id="gettaskEnddate" resultMap="BaseResultMap" parameterType="java.lang.Long">
  select 
  <include refid="Base_Column_List" />
  from T_TASKS_STATUS where TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL}
  </select> -->
  
  <!--跟新已经发送消息的当天的记录  -->
  <update id="updatemessageStatus" parameterType="ampc.com.gistone.database.model.TTasksStatus">
  update T_TASKS_STATUS set BEIZHU2 = #{beizhu2,jdbcType=VARCHAR} where TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL}
  </update>
  <!-- 修改模式停止的状态 -->
  <update id="updatestopstatus" parameterType="ampc.com.gistone.database.model.TTasksStatus">
   update T_TASKS_STATUS
    set STOP_STATUS = #{stopStatus,jdbcType=VARCHAR}
  	where TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL}
  </update>
  <!--修改暂停的状态  -->
  <update id="updatepausestatus" parameterType="ampc.com.gistone.database.model.TTasksStatus">
   update T_TASKS_STATUS
    set PAUSE_STATUS = #{pauseStatus,jdbcType=VARCHAR}
  	where TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL}
  </update>
  <!-- 修改模式终止返回的状态 -->
<update id="updatestopModelresult" parameterType="ampc.com.gistone.database.model.TTasksStatus">
update T_TASKS_STATUS
    set STOP_STATUS = #{stopStatus,jdbcType=VARCHAR},
  	where TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL}
</update>  
  <!-- 通过情景类型和起报时间查找情景的运行状态 -->
  <select id="selectTasksstatusByPathdate" parameterType="hashMap" resultMap="BaseResultMap">
  select 
  TASKS_ID, TASKS_SCENARINO_ID, MODEL_ERROR_STATUS, A.TASKS_SCENARINO_START_DATE,A.TASKS_SCENARINO_END_DATE, A.TASKS_RANGE_DAY, STEPINDEX, TASKS_END_DATE,
      BEIZHU, BEIZHU2, BEIZHU3
  from T_TASKS_STATUS A LEFT JOIN T_SCENARINO_DETAIL B ON A.TASKS_SCENARINO_ID=B.SCENARINO_ID
  WHERE B.PATH_DATE = #{pathdate} AND B.SCEN_TYPE=#{type} AND B.USER_ID=#{userId}
  </select>
  <!-- 通过情景类型和情景pathdate查找所有用户的正在运行的实时预报的状态 -->
  <select id="selectTasksstatusByPathdateandtype" parameterType="hashMap" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from T_TASKS_STATUS A LEFT JOIN T_SCENARINO_DETAIL B ON A.TASKS_SCENARINO_ID=B.SCENARINO_ID
  where B.PATH_DATE = #{pathdate} AND B.SCEN_TYPE=#{type}
  </select>
</mapper>