<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.TTasksStatusMapper" >
  <resultMap id="BaseResultMap" type="ampc.com.gistone.database.model.TTasksStatus" >
    <id column="TASKS_ID" property="tasksId" jdbcType="DECIMAL" />
    <result column="TASKS_SCENARINO_ID" property="tasksScenarinoId" jdbcType="DECIMAL" />
    <result column="ERROR_STATUS" property="errorStatus" jdbcType="VARCHAR" />
    <result column="SCENARINO_START_DATE" property="scenarinoStartDate" jdbcType="TIMESTAMP" />
    <result column="SCENARINO_END_DATE" property="scenarinoEndDate" jdbcType="TIMESTAMP" />
    <result column="RANGE_DAY" property="rangeDay" jdbcType="DECIMAL" />
    <result column="STEPINDEX" property="stepindex" jdbcType="DECIMAL" />
    <result column="TASKS_END_DATE" property="tasksEndDate" jdbcType="TIMESTAMP" />
    <result column="SOURCEID" property="sourceid" jdbcType="VARCHAR" />
    <result column="CALCTYPE" property="calctype" jdbcType="VARCHAR" />
    <result column="PSAL" property="psal" jdbcType="VARCHAR" />
    <result column="SSAL" property="ssal" jdbcType="VARCHAR" />
    <result column="MEICCITYCONFIG" property="meiccityconfig" jdbcType="VARCHAR" />
    <result column="BEIZHU" property="beizhu" jdbcType="VARCHAR" />
    <result column="BEIZHU2" property="beizhu2" jdbcType="VARCHAR" />
    <result column="BEIZHU3" property="beizhu3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TASKS_ID, TASKS_SCENARINO_ID, ERROR_STATUS, SCENARINO_START_DATE, SCENARINO_END_DATE, 
    RANGE_DAY, STEPINDEX, TASKS_END_DATE, SOURCEID, CALCTYPE, PSAL, SSAL, MEICCITYCONFIG, 
    BEIZHU, BEIZHU2, BEIZHU3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_TASKS_STATUS
    where TASKS_ID = #{tasksId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_TASKS_STATUS
    where TASKS_ID = #{tasksId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="ampc.com.gistone.database.model.TTasksStatus" >
    insert into T_TASKS_STATUS (TASKS_ID, TASKS_SCENARINO_ID, ERROR_STATUS, 
      SCENARINO_START_DATE, SCENARINO_END_DATE, 
      RANGE_DAY, STEPINDEX, TASKS_END_DATE, 
      SOURCEID, CALCTYPE, PSAL, 
      SSAL, MEICCITYCONFIG, BEIZHU, 
      BEIZHU2, BEIZHU3)
    values (#{tasksId,jdbcType=DECIMAL}, #{tasksScenarinoId,jdbcType=DECIMAL}, #{errorStatus,jdbcType=VARCHAR}, 
      #{scenarinoStartDate,jdbcType=TIMESTAMP}, #{scenarinoEndDate,jdbcType=TIMESTAMP}, 
      #{rangeDay,jdbcType=DECIMAL}, #{stepindex,jdbcType=DECIMAL}, #{tasksEndDate,jdbcType=TIMESTAMP}, 
      #{sourceid,jdbcType=VARCHAR}, #{calctype,jdbcType=VARCHAR}, #{psal,jdbcType=VARCHAR}, 
      #{ssal,jdbcType=VARCHAR}, #{meiccityconfig,jdbcType=VARCHAR}, #{beizhu,jdbcType=VARCHAR}, 
      #{beizhu2,jdbcType=VARCHAR}, #{beizhu3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ampc.com.gistone.database.model.TTasksStatus" >
    insert into T_TASKS_STATUS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tasksId != null" >
        TASKS_ID,
      </if>
      <if test="tasksScenarinoId != null" >
        TASKS_SCENARINO_ID,
      </if>
      <if test="errorStatus != null" >
        ERROR_STATUS,
      </if>
      <if test="scenarinoStartDate != null" >
        SCENARINO_START_DATE,
      </if>
      <if test="scenarinoEndDate != null" >
        SCENARINO_END_DATE,
      </if>
      <if test="rangeDay != null" >
        RANGE_DAY,
      </if>
      <if test="stepindex != null" >
        STEPINDEX,
      </if>
      <if test="tasksEndDate != null" >
        TASKS_END_DATE,
      </if>
      <if test="sourceid != null" >
        SOURCEID,
      </if>
      <if test="calctype != null" >
        CALCTYPE,
      </if>
      <if test="psal != null" >
        PSAL,
      </if>
      <if test="ssal != null" >
        SSAL,
      </if>
      <if test="meiccityconfig != null" >
        MEICCITYCONFIG,
      </if>
      <if test="beizhu != null" >
        BEIZHU,
      </if>
      <if test="beizhu2 != null" >
        BEIZHU2,
      </if>
      <if test="beizhu3 != null" >
        BEIZHU3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tasksId != null" >
        #{tasksId,jdbcType=DECIMAL},
      </if>
      <if test="tasksScenarinoId != null" >
        #{tasksScenarinoId,jdbcType=DECIMAL},
      </if>
      <if test="errorStatus != null" >
        #{errorStatus,jdbcType=VARCHAR},
      </if>
      <if test="scenarinoStartDate != null" >
        #{scenarinoStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="scenarinoEndDate != null" >
        #{scenarinoEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rangeDay != null" >
        #{rangeDay,jdbcType=DECIMAL},
      </if>
      <if test="stepindex != null" >
        #{stepindex,jdbcType=DECIMAL},
      </if>
      <if test="tasksEndDate != null" >
        #{tasksEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sourceid != null" >
        #{sourceid,jdbcType=VARCHAR},
      </if>
      <if test="calctype != null" >
        #{calctype,jdbcType=VARCHAR},
      </if>
      <if test="psal != null" >
        #{psal,jdbcType=VARCHAR},
      </if>
      <if test="ssal != null" >
        #{ssal,jdbcType=VARCHAR},
      </if>
      <if test="meiccityconfig != null" >
        #{meiccityconfig,jdbcType=VARCHAR},
      </if>
      <if test="beizhu != null" >
        #{beizhu,jdbcType=VARCHAR},
      </if>
      <if test="beizhu2 != null" >
        #{beizhu2,jdbcType=VARCHAR},
      </if>
      <if test="beizhu3 != null" >
        #{beizhu3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ampc.com.gistone.database.model.TTasksStatus" >
    update T_TASKS_STATUS
    <set >
      <if test="tasksScenarinoId != null" >
        TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL},
      </if>
      <if test="errorStatus != null" >
        ERROR_STATUS = #{errorStatus,jdbcType=VARCHAR},
      </if>
      <if test="scenarinoStartDate != null" >
        SCENARINO_START_DATE = #{scenarinoStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="scenarinoEndDate != null" >
        SCENARINO_END_DATE = #{scenarinoEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rangeDay != null" >
        RANGE_DAY = #{rangeDay,jdbcType=DECIMAL},
      </if>
      <if test="stepindex != null" >
        STEPINDEX = #{stepindex,jdbcType=DECIMAL},
      </if>
      <if test="tasksEndDate != null" >
        TASKS_END_DATE = #{tasksEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sourceid != null" >
        SOURCEID = #{sourceid,jdbcType=VARCHAR},
      </if>
      <if test="calctype != null" >
        CALCTYPE = #{calctype,jdbcType=VARCHAR},
      </if>
      <if test="psal != null" >
        PSAL = #{psal,jdbcType=VARCHAR},
      </if>
      <if test="ssal != null" >
        SSAL = #{ssal,jdbcType=VARCHAR},
      </if>
      <if test="meiccityconfig != null" >
        MEICCITYCONFIG = #{meiccityconfig,jdbcType=VARCHAR},
      </if>
      <if test="beizhu != null" >
        BEIZHU = #{beizhu,jdbcType=VARCHAR},
      </if>
      <if test="beizhu2 != null" >
        BEIZHU2 = #{beizhu2,jdbcType=VARCHAR},
      </if>
      <if test="beizhu3 != null" >
        BEIZHU3 = #{beizhu3,jdbcType=VARCHAR},
      </if>
    </set>
    where TASKS_ID = #{tasksId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="ampc.com.gistone.database.model.TTasksStatus" >
    update T_TASKS_STATUS
    set TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL},
      ERROR_STATUS = #{errorStatus,jdbcType=VARCHAR},
      SCENARINO_START_DATE = #{scenarinoStartDate,jdbcType=TIMESTAMP},
      SCENARINO_END_DATE = #{scenarinoEndDate,jdbcType=TIMESTAMP},
      RANGE_DAY = #{rangeDay,jdbcType=DECIMAL},
      STEPINDEX = #{stepindex,jdbcType=DECIMAL},
      TASKS_END_DATE = #{tasksEndDate,jdbcType=TIMESTAMP},
      SOURCEID = #{sourceid,jdbcType=VARCHAR},
      CALCTYPE = #{calctype,jdbcType=VARCHAR},
      PSAL = #{psal,jdbcType=VARCHAR},
      SSAL = #{ssal,jdbcType=VARCHAR},
      MEICCITYCONFIG = #{meiccityconfig,jdbcType=VARCHAR},
      BEIZHU = #{beizhu,jdbcType=VARCHAR},
      BEIZHU2 = #{beizhu2,jdbcType=VARCHAR},
      BEIZHU3 = #{beizhu3,jdbcType=VARCHAR}
    where TASKS_ID = #{tasksId,jdbcType=DECIMAL}
  </update>
  
  
  
  
  <!--添加执行模式执行的结果  BEIZHU = #{beizhu,jdbcType=VARCHAR}-->
  <update id="updateStatus" parameterType="ampc.com.gistone.database.model.TTasksStatus">
  update T_TASKS_STATUS
  set ERROR_STATUS = #{errorStatus,jdbcType=VARCHAR},
  STEPINDEX = #{stepindex,jdbcType=DECIMAL},
  TASKS_END_DATE = #{tasksEndDate,jdbcType=TIMESTAMP}
  where TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL}
  </update>
  
  
  <!--测试方法 通过情景ID查找结束时间  -->
  <select id="selectByscenarinoId" resultType="java.util.Date" parameterType="java.lang.Long">
  select SCENARINO_END_DATE
  from T_TASKS_STATUS where TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL}
  </select>
  
  <!-- 从tasksStatus表里获取情景的天数 开始时间和结束时间 -->
  <resultMap id="rangeResultMap" type="ampc.com.gistone.database.model.TTasksStatus" >
    <id column="TASKS_ID" property="tasksId" jdbcType="DECIMAL" />
    <result column="TASKS_SCENARINO_ID" property="tasksScenarinoId" jdbcType="DECIMAL" />
    <result column="ERROR_STATUS" property="errorStatus" jdbcType="VARCHAR" />
    <result column="SCENARINO_START_DATE" property="scenarinoStartDate" jdbcType="TIMESTAMP" />
    <result column="SCENARINO_END_DATE" property="scenarinoEndDate" jdbcType="TIMESTAMP" />
    <result column="RANGE_DAY" property="rangeDay" jdbcType="DECIMAL" />
    <result column="STEPINDEX" property="stepindex" jdbcType="DECIMAL" />
    <result column="TASKS_END_DATE" property="tasksEndDate" jdbcType="TIMESTAMP" />
    </resultMap>
  <sql id="range_Column_List" >
     TASKS_ID,TASKS_SCENARINO_ID,ERROR_STATUS,SCENARINO_START_DATE, SCENARINO_END_DATE, 
    RANGE_DAY,STEPINDEX,TASKS_END_DATE
  </sql>
  <select id="getRangeTime" resultMap="rangeResultMap" parameterType="java.lang.Long" >
  select
  <include refid="range_Column_List"/>
  from T_TASKS_STATUS
  where TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL}
  </select>
  <!-- 查找tasks状态 -->
  <select id="selectStatus" resultMap="BaseResultMap" parameterType="java.lang.Long">
  select
  <include refid="Base_Column_List" />
  from T_TASKS_STATUS
  where TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL}
  </select>
  <!--跟新tasks的可用状态  -->
  <update id="updateRunstatus" parameterType="ampc.com.gistone.database.model.TTasksStatus">
  update T_TASKS_STATUS
  set BEIZHU = #{beizhu,jdbcType=VARCHAR}
  where TASKS_SCENARINO_ID = #{tasksScenarinoId,jdbcType=DECIMAL}
  </update>
  <!--获取最新的实时预报的运行过得状态  -->
  <select id="getlastrunstatus" resultType="java.util.Date">
 SELECT MIN(PATH_DATE) 
 FROM T_SCENARINO_DETAIL A LEFT JOIN T_TASKS_STATUS B ON A.SCENARINO_ID=B.TASKS_SCENARINO_ID
 WHERE A.SCENARINO_TYPE='4' AND B.BEIZHU='0'
  </select>
</mapper>