<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.TDomainMissionMapper" >
  <resultMap id="BaseResultMap" type="ampc.com.gistone.database.model.TDomainMission" >
    <id column="DOMAIN_ID" property="domainId" jdbcType="DECIMAL" />
    <result column="DOMAIN_NAME" property="domainName" jdbcType="OTHER" />
    <result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="ID_EFFECTIVE" property="idEffective" jdbcType="VARCHAR" />
    <result column="DELETE_TIME" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="DOMAIN_RANGE" property="domainRange" jdbcType="VARCHAR" />
    <result column="DOMAIN_DOC" property="domainDoc" jdbcType="OTHER" />
    <result column="VERSION" property="version" jdbcType="VARCHAR" />
    <result column="CREATE_STATUS" property="createStatus" jdbcType="OTHER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="ampc.com.gistone.database.model.TDomainMissionWithBLOBs" extends="BaseResultMap" >
    <result column="DOMAIN_CODE" property="domainCode" jdbcType="CLOB" />
    <result column="DOMAIN_INFO" property="domainInfo" jdbcType="CLOB" />
    <result column="COMMON" property="common" jdbcType="CLOB" />
    <result column="CMAP" property="cmap" jdbcType="CLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    DOMAIN_ID, DOMAIN_NAME, ADD_TIME, UPDATE_TIME, USER_ID, ID_EFFECTIVE, DELETE_TIME, 
    DOMAIN_RANGE, DOMAIN_DOC, VERSION, CREATE_STATUS
  </sql>
  <sql id="Blob_Column_List" >
    DOMAIN_CODE, DOMAIN_INFO, COMMON, CMAP
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_DOMAIN_MISSION
    where DOMAIN_ID = #{domainId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_DOMAIN_MISSION
    where DOMAIN_ID = #{domainId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="ampc.com.gistone.database.model.TDomainMissionWithBLOBs" >
    insert into T_DOMAIN_MISSION (DOMAIN_ID, DOMAIN_NAME, ADD_TIME, 
      UPDATE_TIME, USER_ID, ID_EFFECTIVE, 
      DELETE_TIME, DOMAIN_RANGE, DOMAIN_DOC, 
      VERSION, CREATE_STATUS, DOMAIN_CODE, 
      DOMAIN_INFO, COMMON, CMAP)
    values (#{domainId,jdbcType=DECIMAL}, #{domainName,jdbcType=OTHER}, #{addTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=DECIMAL}, #{idEffective,jdbcType=VARCHAR}, 
      #{deleteTime,jdbcType=TIMESTAMP}, #{domainRange,jdbcType=VARCHAR}, #{domainDoc,jdbcType=OTHER}, 
      #{version,jdbcType=VARCHAR}, #{createStatus,jdbcType=OTHER}, #{domainCode,jdbcType=CLOB}, 
      #{domainInfo,jdbcType=CLOB}, #{common,jdbcType=CLOB}, #{cmap,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="ampc.com.gistone.database.model.TDomainMissionWithBLOBs" >
    insert into T_DOMAIN_MISSION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="domainId != null" >
        DOMAIN_ID,
      </if>
      <if test="domainName != null" >
        DOMAIN_NAME,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="idEffective != null" >
        ID_EFFECTIVE,
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME,
      </if>
      <if test="domainRange != null" >
        DOMAIN_RANGE,
      </if>
      <if test="domainDoc != null" >
        DOMAIN_DOC,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="createStatus != null" >
        CREATE_STATUS,
      </if>
      <if test="domainCode != null" >
        DOMAIN_CODE,
      </if>
      <if test="domainInfo != null" >
        DOMAIN_INFO,
      </if>
      <if test="common != null" >
        COMMON,
      </if>
      <if test="cmap != null" >
        CMAP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="domainId != null" >
        #{domainId,jdbcType=DECIMAL},
      </if>
      <if test="domainName != null" >
        #{domainName,jdbcType=OTHER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="idEffective != null" >
        #{idEffective,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="domainRange != null" >
        #{domainRange,jdbcType=VARCHAR},
      </if>
      <if test="domainDoc != null" >
        #{domainDoc,jdbcType=OTHER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="createStatus != null" >
        #{createStatus,jdbcType=OTHER},
      </if>
      <if test="domainCode != null" >
        #{domainCode,jdbcType=CLOB},
      </if>
      <if test="domainInfo != null" >
        #{domainInfo,jdbcType=CLOB},
      </if>
      <if test="common != null" >
        #{common,jdbcType=CLOB},
      </if>
      <if test="cmap != null" >
        #{cmap,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ampc.com.gistone.database.model.TDomainMissionWithBLOBs" >
    update T_DOMAIN_MISSION
    <set >
      <if test="domainName != null" >
        DOMAIN_NAME = #{domainName,jdbcType=OTHER},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="idEffective != null" >
        ID_EFFECTIVE = #{idEffective,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="domainRange != null" >
        DOMAIN_RANGE = #{domainRange,jdbcType=VARCHAR},
      </if>
      <if test="domainDoc != null" >
        DOMAIN_DOC = #{domainDoc,jdbcType=OTHER},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=VARCHAR},
      </if>
      <if test="createStatus != null" >
        CREATE_STATUS = #{createStatus,jdbcType=OTHER},
      </if>
      <if test="domainCode != null" >
        DOMAIN_CODE = #{domainCode,jdbcType=CLOB},
      </if>
      <if test="domainInfo != null" >
        DOMAIN_INFO = #{domainInfo,jdbcType=CLOB},
      </if>
      <if test="common != null" >
        COMMON = #{common,jdbcType=CLOB},
      </if>
      <if test="cmap != null" >
        CMAP = #{cmap,jdbcType=CLOB},
      </if>
    </set>
    where DOMAIN_ID = #{domainId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="ampc.com.gistone.database.model.TDomainMissionWithBLOBs" >
    update T_DOMAIN_MISSION
    set DOMAIN_NAME = #{domainName,jdbcType=OTHER},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      USER_ID = #{userId,jdbcType=DECIMAL},
      ID_EFFECTIVE = #{idEffective,jdbcType=VARCHAR},
      DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
      DOMAIN_RANGE = #{domainRange,jdbcType=VARCHAR},
      DOMAIN_DOC = #{domainDoc,jdbcType=OTHER},
      VERSION = #{version,jdbcType=VARCHAR},
      CREATE_STATUS = #{createStatus,jdbcType=OTHER},
      DOMAIN_CODE = #{domainCode,jdbcType=CLOB},
      DOMAIN_INFO = #{domainInfo,jdbcType=CLOB},
      COMMON = #{common,jdbcType=CLOB},
      CMAP = #{cmap,jdbcType=CLOB}
    where DOMAIN_ID = #{domainId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="ampc.com.gistone.database.model.TDomainMission" >
    update T_DOMAIN_MISSION
    set DOMAIN_NAME = #{domainName,jdbcType=OTHER},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      USER_ID = #{userId,jdbcType=DECIMAL},
      ID_EFFECTIVE = #{idEffective,jdbcType=VARCHAR},
      DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
      DOMAIN_RANGE = #{domainRange,jdbcType=VARCHAR},
      DOMAIN_DOC = #{domainDoc,jdbcType=OTHER},
      VERSION = #{version,jdbcType=VARCHAR},
      CREATE_STATUS = #{createStatus,jdbcType=OTHER}
    where DOMAIN_ID = #{domainId,jdbcType=DECIMAL}
  </update>
</mapper>