<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.TDomainMissionMapper" >
  <resultMap id="BaseResultMap" type="ampc.com.gistone.database.model.TDomainMission" >
    <id column="DOMAIN_ID" property="domainId" jdbcType="DECIMAL" />
    <result column="DOMAIN_NAME" property="domainName" jdbcType="OTHER" />
    <result column="ADD_TIME" property="addTime" jdbcType="DATE" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="ID_EFFECTIVE" property="idEffective" jdbcType="VARCHAR" />
    <result column="DELETE_TIME" property="deleteTime" jdbcType="DATE" />
    <result column="V1" property="v1" jdbcType="VARCHAR" />
    <result column="V2" property="v2" jdbcType="VARCHAR" />
    <result column="V3" property="v3" jdbcType="VARCHAR" />
    <result column="V4" property="v4" jdbcType="VARCHAR" />
    <result column="V5" property="v5" jdbcType="VARCHAR" />
    <result column="V6" property="v6" jdbcType="VARCHAR" />
    <result column="V7" property="v7" jdbcType="VARCHAR" />
    <result column="V8" property="v8" jdbcType="VARCHAR" />
    <result column="V9" property="v9" jdbcType="VARCHAR" />
    <result column="V10" property="v10" jdbcType="VARCHAR" />
    <result column="V11" property="v11" jdbcType="VARCHAR" />
    <result column="V12" property="v12" jdbcType="VARCHAR" />
    <result column="V13" property="v13" jdbcType="VARCHAR" />
    <result column="V14" property="v14" jdbcType="VARCHAR" />
    <result column="V15" property="v15" jdbcType="VARCHAR" />
    <result column="V16" property="v16" jdbcType="VARCHAR" />
    <result column="V17" property="v17" jdbcType="VARCHAR" />
    <result column="V18" property="v18" jdbcType="VARCHAR" />
    <result column="V19" property="v19" jdbcType="VARCHAR" />
    <result column="V20" property="v20" jdbcType="VARCHAR" />
    <result column="V21" property="v21" jdbcType="VARCHAR" />
    <result column="V22" property="v22" jdbcType="VARCHAR" />
    <result column="V23" property="v23" jdbcType="VARCHAR" />
    <result column="V24" property="v24" jdbcType="VARCHAR" />
    <result column="V25" property="v25" jdbcType="VARCHAR" />
    <result column="V26" property="v26" jdbcType="VARCHAR" />
    <result column="V27" property="v27" jdbcType="VARCHAR" />
    <result column="V28" property="v28" jdbcType="VARCHAR" />
    <result column="V29" property="v29" jdbcType="VARCHAR" />
    <result column="V30" property="v30" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    DOMAIN_ID, DOMAIN_NAME, ADD_TIME, UPDATE_TIME, USER_ID, ID_EFFECTIVE, DELETE_TIME, 
    V1, V2, V3, V4, V5, V6, V7, V8, V9, V10, V11, V12, V13, V14, V15, V16, V17, V18, 
    V19, V20, V21, V22, V23, V24, V25, V26, V27, V28, V29, V30
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_DOMAIN_MISSION
    where DOMAIN_ID = #{domainId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_DOMAIN_MISSION
    where DOMAIN_ID = #{domainId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="ampc.com.gistone.database.model.TDomainMission" >
    insert into T_DOMAIN_MISSION (DOMAIN_ID, DOMAIN_NAME, ADD_TIME, 
      UPDATE_TIME, USER_ID, ID_EFFECTIVE, 
      DELETE_TIME, V1, V2, V3, 
      V4, V5, V6, V7, 
      V8, V9, V10, V11, 
      V12, V13, V14, V15, 
      V16, V17, V18, V19, 
      V20, V21, V22, V23, 
      V24, V25, V26, V27, 
      V28, V29, V30)
    values (#{domainId,jdbcType=DECIMAL}, #{domainName,jdbcType=OTHER}, #{addTime,jdbcType=DATE}, 
      #{updateTime,jdbcType=DATE}, #{userId,jdbcType=DECIMAL}, #{idEffective,jdbcType=VARCHAR}, 
      #{deleteTime,jdbcType=DATE}, #{v1,jdbcType=VARCHAR}, #{v2,jdbcType=VARCHAR}, #{v3,jdbcType=VARCHAR}, 
      #{v4,jdbcType=VARCHAR}, #{v5,jdbcType=VARCHAR}, #{v6,jdbcType=VARCHAR}, #{v7,jdbcType=VARCHAR}, 
      #{v8,jdbcType=VARCHAR}, #{v9,jdbcType=VARCHAR}, #{v10,jdbcType=VARCHAR}, #{v11,jdbcType=VARCHAR}, 
      #{v12,jdbcType=VARCHAR}, #{v13,jdbcType=VARCHAR}, #{v14,jdbcType=VARCHAR}, #{v15,jdbcType=VARCHAR}, 
      #{v16,jdbcType=VARCHAR}, #{v17,jdbcType=VARCHAR}, #{v18,jdbcType=VARCHAR}, #{v19,jdbcType=VARCHAR}, 
      #{v20,jdbcType=VARCHAR}, #{v21,jdbcType=VARCHAR}, #{v22,jdbcType=VARCHAR}, #{v23,jdbcType=VARCHAR}, 
      #{v24,jdbcType=VARCHAR}, #{v25,jdbcType=VARCHAR}, #{v26,jdbcType=VARCHAR}, #{v27,jdbcType=VARCHAR}, 
      #{v28,jdbcType=VARCHAR}, #{v29,jdbcType=VARCHAR}, #{v30,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ampc.com.gistone.database.model.TDomainMission" >
    insert into T_DOMAIN_MISSION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="domainId != null" >
        DOMAIN_ID,
      </if>
      <if test="domainName != null" >
        DOMAIN_NAME,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="idEffective != null" >
        ID_EFFECTIVE,
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME,
      </if>
      <if test="v1 != null" >
        V1,
      </if>
      <if test="v2 != null" >
        V2,
      </if>
      <if test="v3 != null" >
        V3,
      </if>
      <if test="v4 != null" >
        V4,
      </if>
      <if test="v5 != null" >
        V5,
      </if>
      <if test="v6 != null" >
        V6,
      </if>
      <if test="v7 != null" >
        V7,
      </if>
      <if test="v8 != null" >
        V8,
      </if>
      <if test="v9 != null" >
        V9,
      </if>
      <if test="v10 != null" >
        V10,
      </if>
      <if test="v11 != null" >
        V11,
      </if>
      <if test="v12 != null" >
        V12,
      </if>
      <if test="v13 != null" >
        V13,
      </if>
      <if test="v14 != null" >
        V14,
      </if>
      <if test="v15 != null" >
        V15,
      </if>
      <if test="v16 != null" >
        V16,
      </if>
      <if test="v17 != null" >
        V17,
      </if>
      <if test="v18 != null" >
        V18,
      </if>
      <if test="v19 != null" >
        V19,
      </if>
      <if test="v20 != null" >
        V20,
      </if>
      <if test="v21 != null" >
        V21,
      </if>
      <if test="v22 != null" >
        V22,
      </if>
      <if test="v23 != null" >
        V23,
      </if>
      <if test="v24 != null" >
        V24,
      </if>
      <if test="v25 != null" >
        V25,
      </if>
      <if test="v26 != null" >
        V26,
      </if>
      <if test="v27 != null" >
        V27,
      </if>
      <if test="v28 != null" >
        V28,
      </if>
      <if test="v29 != null" >
        V29,
      </if>
      <if test="v30 != null" >
        V30,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="domainId != null" >
        #{domainId,jdbcType=DECIMAL},
      </if>
      <if test="domainName != null" >
        #{domainName,jdbcType=OTHER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="idEffective != null" >
        #{idEffective,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=DATE},
      </if>
      <if test="v1 != null" >
        #{v1,jdbcType=VARCHAR},
      </if>
      <if test="v2 != null" >
        #{v2,jdbcType=VARCHAR},
      </if>
      <if test="v3 != null" >
        #{v3,jdbcType=VARCHAR},
      </if>
      <if test="v4 != null" >
        #{v4,jdbcType=VARCHAR},
      </if>
      <if test="v5 != null" >
        #{v5,jdbcType=VARCHAR},
      </if>
      <if test="v6 != null" >
        #{v6,jdbcType=VARCHAR},
      </if>
      <if test="v7 != null" >
        #{v7,jdbcType=VARCHAR},
      </if>
      <if test="v8 != null" >
        #{v8,jdbcType=VARCHAR},
      </if>
      <if test="v9 != null" >
        #{v9,jdbcType=VARCHAR},
      </if>
      <if test="v10 != null" >
        #{v10,jdbcType=VARCHAR},
      </if>
      <if test="v11 != null" >
        #{v11,jdbcType=VARCHAR},
      </if>
      <if test="v12 != null" >
        #{v12,jdbcType=VARCHAR},
      </if>
      <if test="v13 != null" >
        #{v13,jdbcType=VARCHAR},
      </if>
      <if test="v14 != null" >
        #{v14,jdbcType=VARCHAR},
      </if>
      <if test="v15 != null" >
        #{v15,jdbcType=VARCHAR},
      </if>
      <if test="v16 != null" >
        #{v16,jdbcType=VARCHAR},
      </if>
      <if test="v17 != null" >
        #{v17,jdbcType=VARCHAR},
      </if>
      <if test="v18 != null" >
        #{v18,jdbcType=VARCHAR},
      </if>
      <if test="v19 != null" >
        #{v19,jdbcType=VARCHAR},
      </if>
      <if test="v20 != null" >
        #{v20,jdbcType=VARCHAR},
      </if>
      <if test="v21 != null" >
        #{v21,jdbcType=VARCHAR},
      </if>
      <if test="v22 != null" >
        #{v22,jdbcType=VARCHAR},
      </if>
      <if test="v23 != null" >
        #{v23,jdbcType=VARCHAR},
      </if>
      <if test="v24 != null" >
        #{v24,jdbcType=VARCHAR},
      </if>
      <if test="v25 != null" >
        #{v25,jdbcType=VARCHAR},
      </if>
      <if test="v26 != null" >
        #{v26,jdbcType=VARCHAR},
      </if>
      <if test="v27 != null" >
        #{v27,jdbcType=VARCHAR},
      </if>
      <if test="v28 != null" >
        #{v28,jdbcType=VARCHAR},
      </if>
      <if test="v29 != null" >
        #{v29,jdbcType=VARCHAR},
      </if>
      <if test="v30 != null" >
        #{v30,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ampc.com.gistone.database.model.TDomainMission" >
    update T_DOMAIN_MISSION
    <set >
      <if test="domainName != null" >
        DOMAIN_NAME = #{domainName,jdbcType=OTHER},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="idEffective != null" >
        ID_EFFECTIVE = #{idEffective,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME = #{deleteTime,jdbcType=DATE},
      </if>
      <if test="v1 != null" >
        V1 = #{v1,jdbcType=VARCHAR},
      </if>
      <if test="v2 != null" >
        V2 = #{v2,jdbcType=VARCHAR},
      </if>
      <if test="v3 != null" >
        V3 = #{v3,jdbcType=VARCHAR},
      </if>
      <if test="v4 != null" >
        V4 = #{v4,jdbcType=VARCHAR},
      </if>
      <if test="v5 != null" >
        V5 = #{v5,jdbcType=VARCHAR},
      </if>
      <if test="v6 != null" >
        V6 = #{v6,jdbcType=VARCHAR},
      </if>
      <if test="v7 != null" >
        V7 = #{v7,jdbcType=VARCHAR},
      </if>
      <if test="v8 != null" >
        V8 = #{v8,jdbcType=VARCHAR},
      </if>
      <if test="v9 != null" >
        V9 = #{v9,jdbcType=VARCHAR},
      </if>
      <if test="v10 != null" >
        V10 = #{v10,jdbcType=VARCHAR},
      </if>
      <if test="v11 != null" >
        V11 = #{v11,jdbcType=VARCHAR},
      </if>
      <if test="v12 != null" >
        V12 = #{v12,jdbcType=VARCHAR},
      </if>
      <if test="v13 != null" >
        V13 = #{v13,jdbcType=VARCHAR},
      </if>
      <if test="v14 != null" >
        V14 = #{v14,jdbcType=VARCHAR},
      </if>
      <if test="v15 != null" >
        V15 = #{v15,jdbcType=VARCHAR},
      </if>
      <if test="v16 != null" >
        V16 = #{v16,jdbcType=VARCHAR},
      </if>
      <if test="v17 != null" >
        V17 = #{v17,jdbcType=VARCHAR},
      </if>
      <if test="v18 != null" >
        V18 = #{v18,jdbcType=VARCHAR},
      </if>
      <if test="v19 != null" >
        V19 = #{v19,jdbcType=VARCHAR},
      </if>
      <if test="v20 != null" >
        V20 = #{v20,jdbcType=VARCHAR},
      </if>
      <if test="v21 != null" >
        V21 = #{v21,jdbcType=VARCHAR},
      </if>
      <if test="v22 != null" >
        V22 = #{v22,jdbcType=VARCHAR},
      </if>
      <if test="v23 != null" >
        V23 = #{v23,jdbcType=VARCHAR},
      </if>
      <if test="v24 != null" >
        V24 = #{v24,jdbcType=VARCHAR},
      </if>
      <if test="v25 != null" >
        V25 = #{v25,jdbcType=VARCHAR},
      </if>
      <if test="v26 != null" >
        V26 = #{v26,jdbcType=VARCHAR},
      </if>
      <if test="v27 != null" >
        V27 = #{v27,jdbcType=VARCHAR},
      </if>
      <if test="v28 != null" >
        V28 = #{v28,jdbcType=VARCHAR},
      </if>
      <if test="v29 != null" >
        V29 = #{v29,jdbcType=VARCHAR},
      </if>
      <if test="v30 != null" >
        V30 = #{v30,jdbcType=VARCHAR},
      </if>
    </set>
    where DOMAIN_ID = #{domainId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="ampc.com.gistone.database.model.TDomainMission" >
    update T_DOMAIN_MISSION
    set DOMAIN_NAME = #{domainName,jdbcType=OTHER},
      ADD_TIME = #{addTime,jdbcType=DATE},
      UPDATE_TIME = #{updateTime,jdbcType=DATE},
      USER_ID = #{userId,jdbcType=DECIMAL},
      ID_EFFECTIVE = #{idEffective,jdbcType=VARCHAR},
      DELETE_TIME = #{deleteTime,jdbcType=DATE},
      V1 = #{v1,jdbcType=VARCHAR},
      V2 = #{v2,jdbcType=VARCHAR},
      V3 = #{v3,jdbcType=VARCHAR},
      V4 = #{v4,jdbcType=VARCHAR},
      V5 = #{v5,jdbcType=VARCHAR},
      V6 = #{v6,jdbcType=VARCHAR},
      V7 = #{v7,jdbcType=VARCHAR},
      V8 = #{v8,jdbcType=VARCHAR},
      V9 = #{v9,jdbcType=VARCHAR},
      V10 = #{v10,jdbcType=VARCHAR},
      V11 = #{v11,jdbcType=VARCHAR},
      V12 = #{v12,jdbcType=VARCHAR},
      V13 = #{v13,jdbcType=VARCHAR},
      V14 = #{v14,jdbcType=VARCHAR},
      V15 = #{v15,jdbcType=VARCHAR},
      V16 = #{v16,jdbcType=VARCHAR},
      V17 = #{v17,jdbcType=VARCHAR},
      V18 = #{v18,jdbcType=VARCHAR},
      V19 = #{v19,jdbcType=VARCHAR},
      V20 = #{v20,jdbcType=VARCHAR},
      V21 = #{v21,jdbcType=VARCHAR},
      V22 = #{v22,jdbcType=VARCHAR},
      V23 = #{v23,jdbcType=VARCHAR},
      V24 = #{v24,jdbcType=VARCHAR},
      V25 = #{v25,jdbcType=VARCHAR},
      V26 = #{v26,jdbcType=VARCHAR},
      V27 = #{v27,jdbcType=VARCHAR},
      V28 = #{v28,jdbcType=VARCHAR},
      V29 = #{v29,jdbcType=VARCHAR},
      V30 = #{v30,jdbcType=VARCHAR}
    where DOMAIN_ID = #{domainId,jdbcType=DECIMAL}
  </update>
</mapper>