<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.TEmissionDetailMapper" >
  <resultMap id="BaseResultMap" type="ampc.com.gistone.database.model.TEmissionDetail" >
    <id column="EMISSION_ID" property="emissionId" jdbcType="DECIMAL" />
    <result column="EMISSION_DATE" property="emissionDate" jdbcType="DATE" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="CODELEVEL" property="codeLevel" jdbcType="VARCHAR" />
    <result column="EMISSION_TYPE" property="emissionType" jdbcType="VARCHAR" />
    <result column="SCENARINO_ID" property="scenarunoId" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="ampc.com.gistone.database.model.TEmissionDetail" extends="BaseResultMap" >
    <result column="EMISSION_DETAILS" property="emissionDetails" jdbcType="CLOB" />
    <result column="MEASURE_REDUCE" property="measureReduce" jdbcType="CLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    EMISSION_ID, EMISSION_DATE, CODE, CODELEVEL, EMISSION_TYPE, SCENARINO_ID
  </sql>
  <sql id="Blob_Column_List" >
    EMISSION_DETAILS, MEASURE_REDUCE
  </sql>
  
  
  
  <select id="selectByMap" resultMap="ResultMapWithBLOBs" parameterType="hashMap" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_EMISSION_DETAIL
    where EMission_Type=#{emtype,jdbcType=OTHER}  and Emission_Date BETWEEN #{startDate,jdbcType=OTHER}
       and #{endDate,jdbcType=OTHER}
       and code in 
       <foreach collection="codes" index="index" item="item" separator="," open="(" close=")">
     		 #{item,jdbcType=OTHER}
  		</foreach>
 		<if test="scenarinoId != null" >
          and SCENARINO_ID=#{scenarinoId,jdbcType=OTHER}
       </if>
       order by Emission_Date
  </select>
  
  
  
  
  
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_EMISSION_DETAIL
    where EMISSION_ID = #{emissionId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_EMISSION_DETAIL
    where EMISSION_ID = #{emissionId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="ampc.com.gistone.database.model.TEmissionDetail" >
    insert into T_EMISSION_DETAIL (EMISSION_ID, EMISSION_DATE, CODE, 
      EMISSION_DETAILS,CODELEVEL,MEASURE_REDUCE,EMISSION_TYPE, SCENARINO_ID)
    values (#{emissionId,jdbcType=DECIMAL}, #{emissionDate,jdbcType=DATE}, #{code,jdbcType=VARCHAR}, 
      #{emissionDetails,jdbcType=CLOB}, #{codeLevel,jdbcType=VARCHAR},#{measureReduce,jdbcType=CLOB}, #{emissionType,jdbcType=VARCHAR},
      #{scenarunoId,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="ampc.com.gistone.database.model.TEmissionDetail" >
    insert into T_EMISSION_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="emissionId != null" >
        EMISSION_ID,
      </if>
      <if test="emissionDate != null" >
        EMISSION_DATE,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="emissionDetails != null" >
        EMISSION_DETAILS,
      </if>
      <if test="codeLevel != null" >
        CODELEVEL,
      </if>
      <if test="measureReduce != null" >
        MEASURE_REDUCE,
      </if>
      <if test="emissionType != null" >
        EMISSION_TYPE,
      </if>
      <if test="scenarunoId != null" >
        SCENARINO_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="emissionId != null" >
        #{emissionId,jdbcType=DECIMAL},
      </if>
      <if test="emissionDate != null" >
        #{emissionDate,jdbcType=DATE},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="emissionDetails != null" >
        #{emissionDetails,jdbcType=CLOB},
      </if>
      <if test="codeLevel != null" >
        #{codeLevel,jdbcType=VARCHAR},
      </if>
      <if test="measureReduce != null" >
        #{measureReduce,jdbcType=CLOB},
      </if>
        <if test="emissionType != null" >
        #{emissionType,jdbcType=VARCHAR},
      </if>
        <if test="scenarunoId != null" >
        #{scenarunoId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ampc.com.gistone.database.model.TEmissionDetail" >
    update T_EMISSION_DETAIL
    <set >
      <if test="emissionDate != null" >
        EMISSION_DATE = #{emissionDate,jdbcType=DATE},
      </if>
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="emissionDetails != null" >
        EMISSION_DETAILS = #{emissionDetails,jdbcType=CLOB},
      </if>
      <if test="codeLevel != null" >
        CODELEVEL = #{codeLevel,jdbcType=VARCHAR},
      </if>
      <if test="measureReduce != null" >
        MEASURE_REDUCE = #{measureReduce,jdbcType=CLOB},
      </if>
      <if test="emissionType != null" >
        EMISSION_TYPE = #{emissionType,jdbcType=VARCHAR},
      </if>
      <if test="scenarunoId != null" >
        SCENARINO_ID = #{scenarunoId,jdbcType=DECIMAL},
      </if>
    </set>
    where EMISSION_ID = #{emissionId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="ampc.com.gistone.database.model.TEmissionDetail" >
    update T_EMISSION_DETAIL
    set EMISSION_DATE = #{emissionDate,jdbcType=DATE},
      CODE = #{code,jdbcType=VARCHAR},
      CODELEVEL = #{codeLevel,jdbcType=VARCHAR},
      EMISSION_DETAILS = #{emissionDetails,jdbcType=CLOB},
      MEASURE_REDUCE = #{measureReduce,jdbcType=CLOB},
      EMISSION_TYPE = #{emissionType,jdbcType=VARCHAR},
      SCENARINO_ID = #{scenarunoId,jdbcType=DECIMAL}
  where EMISSION_ID = #{emissionId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="ampc.com.gistone.database.model.TEmissionDetail" >
    update T_EMISSION_DETAIL
    set EMISSION_DATE = #{emissionDate,jdbcType=DATE},
     CODELEVEL = #{codeLevel,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      EMISSION_TYPE = #{emissionType,jdbcType=VARCHAR},
      SCENARINO_ID = #{scenarunoId,jdbcType=DECIMAL}
    where EMISSION_ID = #{emissionId,jdbcType=DECIMAL}
  </update>
  <select id="selectByEntity" resultMap="ResultMapWithBLOBs" parameterType="ampc.com.gistone.database.model.TEmissionDetail" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_EMISSION_DETAIL
    where 1=1
     <if test="emissionDate != null" >
       and EMISSION_DATE = #{emissionDate,jdbcType=DATE}
      </if>
      <if test="code != null" >
       and CODE = #{code,jdbcType=VARCHAR}
      </if>
      <if test="emissionDetails != null" >
       and EMISSION_DETAILS = #{emissionDetails,jdbcType=CLOB}
      </if>
      <if test="codeLevel != null" >
       and CODELEVEL = #{codeLevel,jdbcType=VARCHAR}
      </if>
      <if test="emissionId != null" >
       and EMISSION_ID = #{emissionId,jdbcType=DECIMAL}
       </if>
       <if test="measureReduce != null" >
       and MEASURE_REDUCE = #{measureReduce,jdbcType=CLOB}
      </if>
      <if test="emissionType != null" >
       and EMISSION_TYPE = #{emissionType,jdbcType=VARCHAR}
      </if>
      <if test="scenarunoId != null" >
       and SCENARINO_ID = #{scenarunoId,jdbcType=DECIMAL}
      </if>
  </select>
  <select id="selectBycodeAndDate" resultType="ampc.com.gistone.database.model.TEmissionDetail" parameterType="ampc.com.gistone.database.model.TEmissionDetail" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_EMISSION_DETAIL
    where CODE = #{code,jdbcType=VARCHAR} and EMISSION_DATE = #{emissionDate,jdbcType=DATE}
    </select>
</mapper>