<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.TEsCouplingMapper" >
  <resultMap id="BaseResultMap" type="ampc.com.gistone.database.model.TEsCoupling" >
    <id column="ES_COUPLING_ID" property="esCouplingId" jdbcType="DECIMAL" />
    <result column="ES_COUPLING_NAME" property="esCouplingName" jdbcType="OTHER" />
    <result column="ES_COUPLING_DESC" property="esCouplingDesc" jdbcType="OTHER" />
    <result column="ES_COUPLING_YEAR" property="esCouplingYear" jdbcType="DECIMAL" />
    <result column="ES_COUPLING_NATION_ID" property="esCouplingNationId" jdbcType="DECIMAL" />
    <result column="ES_COUPLING_NATIVE_ID" property="esCouplingNativeId" jdbcType="DECIMAL" />
    <result column="ES_COUPING_RELATION_ID" property="esCoupingRelationId" jdbcType="DECIMAL" />
    <result column="ADD_TIME" property="addTime" jdbcType="DATE" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="IS_EFFECTIVE" property="isEffective" jdbcType="VARCHAR" />
    <result column="DELETE_TIME" property="deleteTime" jdbcType="DATE" />
    <result column="HISTORY_COUPLING" property="historyCoupling" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ES_COUPLING_ID, ES_COUPLING_NAME, ES_COUPLING_DESC, ES_COUPLING_YEAR, ES_COUPLING_NATION_ID, 
    ES_COUPLING_NATIVE_ID, ES_COUPING_RELATION_ID, ADD_TIME, UPDATE_TIME, USER_ID, IS_EFFECTIVE, 
    DELETE_TIME, HISTORY_COUPLING
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_ES_COUPLING
    where ES_COUPLING_ID = #{esCouplingId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_ES_COUPLING
    where ES_COUPLING_ID = #{esCouplingId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="ampc.com.gistone.database.model.TEsCoupling" >
    insert into T_ES_COUPLING (ES_COUPLING_ID, ES_COUPLING_NAME, ES_COUPLING_DESC, 
      ES_COUPLING_YEAR, ES_COUPLING_NATION_ID, ES_COUPLING_NATIVE_ID, 
      ES_COUPING_RELATION_ID, ADD_TIME, UPDATE_TIME, 
      USER_ID, IS_EFFECTIVE, DELETE_TIME, 
      HISTORY_COUPLING)
    values (#{esCouplingId,jdbcType=DECIMAL}, #{esCouplingName,jdbcType=OTHER}, #{esCouplingDesc,jdbcType=OTHER}, 
      #{esCouplingYear,jdbcType=DECIMAL}, #{esCouplingNationId,jdbcType=DECIMAL}, #{esCouplingNativeId,jdbcType=DECIMAL}, 
      #{esCoupingRelationId,jdbcType=DECIMAL}, #{addTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE}, 
      #{userId,jdbcType=DECIMAL}, #{isEffective,jdbcType=VARCHAR}, #{deleteTime,jdbcType=DATE}, 
      #{historyCoupling,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ampc.com.gistone.database.model.TEsCoupling" >
    insert into T_ES_COUPLING
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="esCouplingId != null" >
        ES_COUPLING_ID,
      </if>
      <if test="esCouplingName != null" >
        ES_COUPLING_NAME,
      </if>
      <if test="esCouplingDesc != null" >
        ES_COUPLING_DESC,
      </if>
      <if test="esCouplingYear != null" >
        ES_COUPLING_YEAR,
      </if>
      <if test="esCouplingNationId != null" >
        ES_COUPLING_NATION_ID,
      </if>
      <if test="esCouplingNativeId != null" >
        ES_COUPLING_NATIVE_ID,
      </if>
      <if test="esCoupingRelationId != null" >
        ES_COUPING_RELATION_ID,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE,
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME,
      </if>
      <if test="historyCoupling != null" >
        HISTORY_COUPLING,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="esCouplingId != null" >
        #{esCouplingId,jdbcType=DECIMAL},
      </if>
      <if test="esCouplingName != null" >
        #{esCouplingName,jdbcType=OTHER},
      </if>
      <if test="esCouplingDesc != null" >
        #{esCouplingDesc,jdbcType=OTHER},
      </if>
      <if test="esCouplingYear != null" >
        #{esCouplingYear,jdbcType=DECIMAL},
      </if>
      <if test="esCouplingNationId != null" >
        #{esCouplingNationId,jdbcType=DECIMAL},
      </if>
      <if test="esCouplingNativeId != null" >
        #{esCouplingNativeId,jdbcType=DECIMAL},
      </if>
      <if test="esCoupingRelationId != null" >
        #{esCoupingRelationId,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="isEffective != null" >
        #{isEffective,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=DATE},
      </if>
      <if test="historyCoupling != null" >
        #{historyCoupling,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ampc.com.gistone.database.model.TEsCoupling" >
    update T_ES_COUPLING
    <set >
      <if test="esCouplingName != null" >
        ES_COUPLING_NAME = #{esCouplingName,jdbcType=OTHER},
      </if>
      <if test="esCouplingDesc != null" >
        ES_COUPLING_DESC = #{esCouplingDesc,jdbcType=OTHER},
      </if>
      <if test="esCouplingYear != null" >
        ES_COUPLING_YEAR = #{esCouplingYear,jdbcType=DECIMAL},
      </if>
      <if test="esCouplingNationId != null" >
        ES_COUPLING_NATION_ID = #{esCouplingNationId,jdbcType=DECIMAL},
      </if>
      <if test="esCouplingNativeId != null" >
        ES_COUPLING_NATIVE_ID = #{esCouplingNativeId,jdbcType=DECIMAL},
      </if>
      <if test="esCoupingRelationId != null" >
        ES_COUPING_RELATION_ID = #{esCoupingRelationId,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME = #{deleteTime,jdbcType=DATE},
      </if>
      <if test="historyCoupling != null" >
        HISTORY_COUPLING = #{historyCoupling,jdbcType=VARCHAR},
      </if>
    </set>
    where ES_COUPLING_ID = #{esCouplingId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="ampc.com.gistone.database.model.TEsCoupling" >
    update T_ES_COUPLING
    set ES_COUPLING_NAME = #{esCouplingName,jdbcType=OTHER},
      ES_COUPLING_DESC = #{esCouplingDesc,jdbcType=OTHER},
      ES_COUPLING_YEAR = #{esCouplingYear,jdbcType=DECIMAL},
      ES_COUPLING_NATION_ID = #{esCouplingNationId,jdbcType=DECIMAL},
      ES_COUPLING_NATIVE_ID = #{esCouplingNativeId,jdbcType=DECIMAL},
      ES_COUPING_RELATION_ID = #{esCoupingRelationId,jdbcType=DECIMAL},
      ADD_TIME = #{addTime,jdbcType=DATE},
      UPDATE_TIME = #{updateTime,jdbcType=DATE},
      USER_ID = #{userId,jdbcType=DECIMAL},
      IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR},
      DELETE_TIME = #{deleteTime,jdbcType=DATE},
      HISTORY_COUPLING = #{historyCoupling,jdbcType=VARCHAR}
    where ES_COUPLING_ID = #{esCouplingId,jdbcType=DECIMAL}
  </update>
</mapper>