<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.TEsNationMapper" >
  <resultMap id="BaseResultMap" type="ampc.com.gistone.database.model.TEsNation" >
    <id column="ES_NATION_ID" property="esNationId" jdbcType="DECIMAL" />
    <result column="ES_NATION_NAME" property="esNationName" jdbcType="OTHER" />
    <result column="ES_NATION_YEAR" property="esNationYear" jdbcType="DECIMAL" />
    <result column="PUBLISH_TIME" property="publishTime" jdbcType="DATE" />
    <result column="ES_NATION_RELATION_ID" property="esNationRelationId" jdbcType="DECIMAL" />
    <result column="ADD_TIME" property="addTime" jdbcType="DATE" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="IS_EFFECTIVE" property="isEffective" jdbcType="VARCHAR" />
    <result column="DELETE_TIME" property="deleteTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ES_NATION_ID, ES_NATION_NAME, ES_NATION_YEAR, PUBLISH_TIME, ES_NATION_RELATION_ID, 
    ADD_TIME, UPDATE_TIME, USER_ID, IS_EFFECTIVE, DELETE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_ES_NATION
    where ES_NATION_ID = #{esNationId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_ES_NATION
    where ES_NATION_ID = #{esNationId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="ampc.com.gistone.database.model.TEsNation" >
    insert into T_ES_NATION (ES_NATION_ID, ES_NATION_NAME, ES_NATION_YEAR, 
      PUBLISH_TIME, ES_NATION_RELATION_ID, ADD_TIME, 
      UPDATE_TIME, USER_ID, IS_EFFECTIVE, 
      DELETE_TIME)
    values (#{esNationId,jdbcType=DECIMAL}, #{esNationName,jdbcType=OTHER}, #{esNationYear,jdbcType=DECIMAL}, 
      #{publishTime,jdbcType=DATE}, #{esNationRelationId,jdbcType=DECIMAL}, #{addTime,jdbcType=DATE}, 
      #{updateTime,jdbcType=DATE}, #{userId,jdbcType=DECIMAL}, #{isEffective,jdbcType=VARCHAR}, 
      #{deleteTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="ampc.com.gistone.database.model.TEsNation" >
    insert into T_ES_NATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="esNationId != null" >
        ES_NATION_ID,
      </if>
      <if test="esNationName != null" >
        ES_NATION_NAME,
      </if>
      <if test="esNationYear != null" >
        ES_NATION_YEAR,
      </if>
      <if test="publishTime != null" >
        PUBLISH_TIME,
      </if>
      <if test="esNationRelationId != null" >
        ES_NATION_RELATION_ID,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE,
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="esNationId != null" >
        #{esNationId,jdbcType=DECIMAL},
      </if>
      <if test="esNationName != null" >
        #{esNationName,jdbcType=OTHER},
      </if>
      <if test="esNationYear != null" >
        #{esNationYear,jdbcType=DECIMAL},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=DATE},
      </if>
      <if test="esNationRelationId != null" >
        #{esNationRelationId,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="isEffective != null" >
        #{isEffective,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ampc.com.gistone.database.model.TEsNation" >
    update T_ES_NATION
    <set >
      <if test="esNationName != null" >
        ES_NATION_NAME = #{esNationName,jdbcType=OTHER},
      </if>
      <if test="esNationYear != null" >
        ES_NATION_YEAR = #{esNationYear,jdbcType=DECIMAL},
      </if>
      <if test="publishTime != null" >
        PUBLISH_TIME = #{publishTime,jdbcType=DATE},
      </if>
      <if test="esNationRelationId != null" >
        ES_NATION_RELATION_ID = #{esNationRelationId,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME = #{deleteTime,jdbcType=DATE},
      </if>
    </set>
    where ES_NATION_ID = #{esNationId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="ampc.com.gistone.database.model.TEsNation" >
    update T_ES_NATION
    set ES_NATION_NAME = #{esNationName,jdbcType=OTHER},
      ES_NATION_YEAR = #{esNationYear,jdbcType=DECIMAL},
      PUBLISH_TIME = #{publishTime,jdbcType=DATE},
      ES_NATION_RELATION_ID = #{esNationRelationId,jdbcType=DECIMAL},
      ADD_TIME = #{addTime,jdbcType=DATE},
      UPDATE_TIME = #{updateTime,jdbcType=DATE},
      USER_ID = #{userId,jdbcType=DECIMAL},
      IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR},
      DELETE_TIME = #{deleteTime,jdbcType=DATE}
    where ES_NATION_ID = #{esNationId,jdbcType=DECIMAL}
  </update>
  
  <!-- 根据用户Id查询全国清单 -->
<!--   <select id="selectAllNation" resultMap="selectAllMap" parameterType="java.lang.Long" > -->
<!--     select  -->
<!--     * -->
<!--     from T_ES_NATION -->
<!--     where USER_ID = #{userId,jdbcType=DECIMAL} -->
<!--   </select> -->
</mapper>