<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.TObsMapper" >

  <resultMap id="BaseResultMap" type="ampc.com.gistone.preprocess.obs.entity.ObsBean" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="DATE" property="date" jdbcType="DATE" />
    <result column="MODE" property="mode" jdbcType="VARCHAR" />
    <result column="CITY_STATION" property="city_station" jdbcType="VARCHAR" />
    <result column="ADD_TIME" property="addTime" jdbcType="DATE" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
    <result column="DATE" property="startDate" jdbcType="DATE" />
    <result column="DATE" property="endDate" jdbcType="DATE" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="ampc.com.gistone.preprocess.obs.entity.ObsBean" extends="BaseResultMap" >
    <result column="CONTENT" property="content" jdbcType="CLOB" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    "ID", "DATE", "MODE", "CITY_STATION"
  </sql>
  <sql id="Blob_Column_List" >
    "CONTENT"
  </sql>

  <select id="checkObsTable" statementType="CALLABLE" parameterType="hashMap">  
     {call AMPC.CHECK_OBS_TABLE(#{years,mode=IN,jdbcType=VARCHAR},#{time_point,mode=IN,jdbcType=VARCHAR},#{tName,mode=OUT,jdbcType=VARCHAR})}  
  </select> 

  <select id="queryUnionResult" parameterType="hashMap" resultMap="ResultMapWithBLOBs">
 	select 
	 	<include refid="Base_Column_List" />
	    ,
	    <include refid="Blob_Column_List" />
	    , "ADD_TIME", "UPDATE_TIME"
	    from ${tableName} where "DATE"=#{date,jdbcType=DATE} AND "MODE"=#{mode,jdbcType=VARCHAR} AND "CITY_STATION"=#{city_station,jdbcType=VARCHAR} 
 </select>
 
 <select id="insert" parameterType="ampc.com.gistone.preprocess.obs.entity.ObsBean">
 	insert into ${tableName} ("ID", "DATE", "MODE", 
      "CITY_STATION", "CONTENT", "ADD_TIME", "UPDATE_TIME")
      values (#{id,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, #{mode,jdbcType=VARCHAR}, 
      #{city_station,jdbcType=VARCHAR},#{content,jdbcType=CLOB},
      sysdate, sysdate)
 </select>
 
 <select id="update" parameterType="ampc.com.gistone.preprocess.obs.entity.ObsBean">
 	UPDATE ${tableName}
	SET "CONTENT" = #{content,jdbcType=CLOB}, "UPDATE_TIME"=sysdate WHERE "DATE"=#{date,jdbcType=DATE} AND "MODE"=#{mode,jdbcType=VARCHAR} 
	AND "CITY_STATION"=#{city_station,jdbcType=VARCHAR}
 </select>
  
</mapper>