<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.TScenarinoStatusMapper" >
  <resultMap id="BaseResultMap" type="ampc.com.gistone.database.model.TScenarinoStatus" >
    <result column="SCENARINO_STATU_ID" property="scenarinoStatuId" jdbcType="DECIMAL" />
    <result column="SCENARINO_STATU_NAME" property="scenarinoStatuName" jdbcType="OTHER" />
  </resultMap>
  <insert id="insert" parameterType="ampc.com.gistone.database.model.TScenarinoStatus" >
    insert into T_SCENARINO_STATUS (SCENARINO_STATU_ID, SCENARINO_STATU_NAME
      )
    values (#{scenarinoStatuId,jdbcType=DECIMAL}, #{scenarinoStatuName,jdbcType=OTHER}
      )
  </insert>
  <insert id="insertSelective" parameterType="ampc.com.gistone.database.model.TScenarinoStatus" >
    insert into T_SCENARINO_STATUS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scenarinoStatuId != null" >
        SCENARINO_STATU_ID,
      </if>
      <if test="scenarinoStatuName != null" >
        SCENARINO_STATU_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scenarinoStatuId != null" >
        #{scenarinoStatuId,jdbcType=DECIMAL},
      </if>
      <if test="scenarinoStatuName != null" >
        #{scenarinoStatuName,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
</mapper>