<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.TSystemAdminMapper" >
  <resultMap id="BaseResultMap" type="ampc.com.gistone.database.model.TSystemAdmin" >
    <id column="SYSTEM_ADMIN_ID" property="systemAdminId" jdbcType="DECIMAL" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="SYSTEM_ADMIN_EMAIL" property="systemAdminEmail" jdbcType="VARCHAR" />
    <result column="SYSTEM_ADMIN_NAME" property="systemAdminName" jdbcType="OTHER" />
    <result column="COMPANY_NAME" property="companyName" jdbcType="OTHER" />
    <result column="PROVINCE_CODE" property="provinceCode" jdbcType="VARCHAR" />
    <result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR" />
    <result column="COUNTY_CODE" property="countyCode" jdbcType="VARCHAR" />
    <result column="SYSTEM_ADMIN_PHONE" property="systemAdminPhone" jdbcType="DECIMAL" />
    <result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    SYSTEM_ADMIN_ID, PASSWORD, SYSTEM_ADMIN_EMAIL, SYSTEM_ADMIN_NAME, COMPANY_NAME, PROVINCE_CODE, 
    CITY_CODE, COUNTY_CODE, SYSTEM_ADMIN_PHONE, ADD_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_SYSTEM_ADMIN
    where SYSTEM_ADMIN_ID = #{systemAdminId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_SYSTEM_ADMIN
    where SYSTEM_ADMIN_ID = #{systemAdminId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="ampc.com.gistone.database.model.TSystemAdmin" >
    insert into T_SYSTEM_ADMIN (SYSTEM_ADMIN_ID, PASSWORD, SYSTEM_ADMIN_EMAIL, 
      SYSTEM_ADMIN_NAME, COMPANY_NAME, PROVINCE_CODE, 
      CITY_CODE, COUNTY_CODE, SYSTEM_ADMIN_PHONE, 
      ADD_TIME)
    values (#{systemAdminId,jdbcType=DECIMAL}, #{password,jdbcType=VARCHAR}, #{systemAdminEmail,jdbcType=VARCHAR}, 
      #{systemAdminName,jdbcType=OTHER}, #{companyName,jdbcType=OTHER}, #{provinceCode,jdbcType=VARCHAR}, 
      #{cityCode,jdbcType=VARCHAR}, #{countyCode,jdbcType=VARCHAR}, #{systemAdminPhone,jdbcType=DECIMAL}, 
      #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="ampc.com.gistone.database.model.TSystemAdmin" >
    insert into T_SYSTEM_ADMIN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="systemAdminId != null" >
        SYSTEM_ADMIN_ID,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="systemAdminEmail != null" >
        SYSTEM_ADMIN_EMAIL,
      </if>
      <if test="systemAdminName != null" >
        SYSTEM_ADMIN_NAME,
      </if>
      <if test="companyName != null" >
        COMPANY_NAME,
      </if>
      <if test="provinceCode != null" >
        PROVINCE_CODE,
      </if>
      <if test="cityCode != null" >
        CITY_CODE,
      </if>
      <if test="countyCode != null" >
        COUNTY_CODE,
      </if>
      <if test="systemAdminPhone != null" >
        SYSTEM_ADMIN_PHONE,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="systemAdminId != null" >
        #{systemAdminId,jdbcType=DECIMAL},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="systemAdminEmail != null" >
        #{systemAdminEmail,jdbcType=VARCHAR},
      </if>
      <if test="systemAdminName != null" >
        #{systemAdminName,jdbcType=OTHER},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=OTHER},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="countyCode != null" >
        #{countyCode,jdbcType=VARCHAR},
      </if>
      <if test="systemAdminPhone != null" >
        #{systemAdminPhone,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ampc.com.gistone.database.model.TSystemAdmin" >
    update T_SYSTEM_ADMIN
    <set >
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="systemAdminEmail != null" >
        SYSTEM_ADMIN_EMAIL = #{systemAdminEmail,jdbcType=VARCHAR},
      </if>
      <if test="systemAdminName != null" >
        SYSTEM_ADMIN_NAME = #{systemAdminName,jdbcType=OTHER},
      </if>
      <if test="companyName != null" >
        COMPANY_NAME = #{companyName,jdbcType=OTHER},
      </if>
      <if test="provinceCode != null" >
        PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="countyCode != null" >
        COUNTY_CODE = #{countyCode,jdbcType=VARCHAR},
      </if>
      <if test="systemAdminPhone != null" >
        SYSTEM_ADMIN_PHONE = #{systemAdminPhone,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SYSTEM_ADMIN_ID = #{systemAdminId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="ampc.com.gistone.database.model.TSystemAdmin" >
    update T_SYSTEM_ADMIN
    set PASSWORD = #{password,jdbcType=VARCHAR},
      SYSTEM_ADMIN_EMAIL = #{systemAdminEmail,jdbcType=VARCHAR},
      SYSTEM_ADMIN_NAME = #{systemAdminName,jdbcType=OTHER},
      COMPANY_NAME = #{companyName,jdbcType=OTHER},
      PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      COUNTY_CODE = #{countyCode,jdbcType=VARCHAR},
      SYSTEM_ADMIN_PHONE = #{systemAdminPhone,jdbcType=DECIMAL},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP}
    where SYSTEM_ADMIN_ID = #{systemAdminId,jdbcType=DECIMAL}
  </update>
</mapper>