<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.TTimeMapper" >
  <resultMap id="BaseResultMap" type="ampc.com.gistone.database.model.TTime" >
    <id column="TIME_ID" property="timeId" jdbcType="DECIMAL" />
    <result column="TIME_START_DATE" property="timeStartDate" jdbcType="TIMESTAMP" />
    <result column="TIME_END_DATE" property="timeEndDate" jdbcType="TIMESTAMP" />
    <result column="AREA_ID" property="areaId" jdbcType="DECIMAL" />
    <result column="MISSION_ID" property="missionId" jdbcType="DECIMAL" />
    <result column="SCENARINO_ID" property="scenarinoId" jdbcType="DECIMAL" />
    <result column="PLAN_ID" property="planId" jdbcType="DECIMAL" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="IS_EFFECTIVE" property="isEffective" jdbcType="VARCHAR" />
    <result column="DELETE_TIME" property="deleteTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="timeAndPlan" type="hashMap" >
    <id column="TIME_ID" property="timeId" jdbcType="DECIMAL" />
    <result column="TIME_START_DATE" property="timeStartDate" jdbcType="TIMESTAMP" />
    <result column="TIME_END_DATE" property="timeEndDate" jdbcType="TIMESTAMP" />
    <result column="PLAN_ID" property="planId" jdbcType="DECIMAL" />
    <result column="PLAN_NAME" property="planName" jdbcType="OTHER" />
  </resultMap>
  <sql id="Base_Column_List" >
    TIME_ID, TIME_START_DATE, TIME_END_DATE, AREA_ID, MISSION_ID, SCENARINO_ID, PLAN_ID, 
    USER_ID, IS_EFFECTIVE, DELETE_TIME
  </sql>
  
  <!-- 根据区域ID 获取时段和预案 -->
  <select id="selectByAreaId" resultMap="timeAndPlan" parameterType="java.lang.Long" >
    select 
    TIM.TIME_ID,TIME_START_DATE,TIME_END_DATE,TIM.PLAN_ID,PLAN_NAME
    from T_TIME TIM 
    left JOIN T_PLAN PL ON TIM.PLAN_ID=PL.PLAN_ID
    where TIM.AREA_ID = #{_parameter,jdbcType=DECIMAL} AND TIM.IS_EFFECTIVE='1'
    order by TIME_START_DATE asc
  </select>
  
  <!-- 根据区域ID查询所有的时段Id -->
   <select id="selectTimeIdByAreaId" resultType="java.lang.Long" parameterType="java.lang.Long" >
    select TIME_ID
    from T_TIME 
    where AREA_ID = #{_parameter,jdbcType=DECIMAL} AND IS_EFFECTIVE='1'
  </select>
  
  <!-- 根据区域ID查询所有的时段 -->
   <select id="selectAllByAreaId" resultMap="BaseResultMap" parameterType="java.lang.Object" >
    select <include refid="Base_Column_List" />
    from T_TIME 
    where AREA_ID = #{_parameter,jdbcType=OTHER} AND IS_EFFECTIVE='1'
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_TIME
    where TIME_ID = #{timeId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_TIME
    where TIME_ID = #{_parameter,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="ampc.com.gistone.database.model.TTime" >
    insert into T_TIME (TIME_ID, TIME_START_DATE, TIME_END_DATE, 
      AREA_ID, MISSION_ID, SCENARINO_ID, 
      PLAN_ID, USER_ID, IS_EFFECTIVE, 
      DELETE_TIME)
    values (#{timeId,jdbcType=DECIMAL}, #{timeStartDate,jdbcType=TIMESTAMP}, #{timeEndDate,jdbcType=TIMESTAMP}, 
      #{areaId,jdbcType=DECIMAL}, #{missionId,jdbcType=DECIMAL}, #{scenarinoId,jdbcType=DECIMAL}, 
      #{planId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{isEffective,jdbcType=VARCHAR}, 
      #{deleteTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="ampc.com.gistone.database.model.TTime" >
    insert into T_TIME
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="timeId != null" >
        TIME_ID,
      </if>
      <if test="timeStartDate != null" >
        TIME_START_DATE,
      </if>
      <if test="timeEndDate != null" >
        TIME_END_DATE,
      </if>
      <if test="areaId != null" >
        AREA_ID,
      </if>
      <if test="missionId != null" >
        MISSION_ID,
      </if>
      <if test="scenarinoId != null" >
        SCENARINO_ID,
      </if>
      <if test="planId != null" >
        PLAN_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE,
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="timeId != null" >
        #{timeId,jdbcType=DECIMAL},
      </if>
      <if test="timeStartDate != null" >
        #{timeStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="timeEndDate != null" >
        #{timeEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=DECIMAL},
      </if>
      <if test="missionId != null" >
        #{missionId,jdbcType=DECIMAL},
      </if>
      <if test="scenarinoId != null" >
        #{scenarinoId,jdbcType=DECIMAL},
      </if>
      <if test="planId != null" >
        #{planId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="isEffective != null" >
        #{isEffective,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ampc.com.gistone.database.model.TTime" >
    update T_TIME
    <set >
      <if test="timeStartDate != null" >
        TIME_START_DATE = #{timeStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="timeEndDate != null" >
        TIME_END_DATE = #{timeEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="areaId != null" >
        AREA_ID = #{areaId,jdbcType=DECIMAL},
      </if>
      <if test="missionId != null" >
        MISSION_ID = #{missionId,jdbcType=DECIMAL},
      </if>
      <if test="scenarinoId != null" >
        SCENARINO_ID = #{scenarinoId,jdbcType=DECIMAL},
      </if>
      <if test="planId != null" >
        PLAN_ID = #{planId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="isEffective != null" >
        IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TIME_ID = #{timeId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="ampc.com.gistone.database.model.TTime" >
    update T_TIME
    set TIME_START_DATE = #{timeStartDate,jdbcType=TIMESTAMP},
      TIME_END_DATE = #{timeEndDate,jdbcType=TIMESTAMP},
      AREA_ID = #{areaId,jdbcType=DECIMAL},
      MISSION_ID = #{missionId,jdbcType=DECIMAL},
      SCENARINO_ID = #{scenarinoId,jdbcType=DECIMAL},
      PLAN_ID = #{planId,jdbcType=DECIMAL},
      USER_ID = #{userId,jdbcType=DECIMAL},
      IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR},
      DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
    where TIME_ID = #{timeId,jdbcType=DECIMAL}
  </update>
    <select id="selectByPrimaryKeysort" resultMap="BaseResultMap" parameterType="ampc.com.gistone.database.model.TTime" >
    select 
    <include refid="Base_Column_List" />
    from T_TIME
    where AREA_ID = #{areaId,jdbcType=DECIMAL} and USER_ID = #{userId,jdbcType=DECIMAL} and IS_EFFECTIVE = #{isEffective,jdbcType=VARCHAR}
    order by TIME_START_DATE asc
  </select>
  <update id="updateByisEffective" parameterType="java.lang.Long" >
    update T_TIME
    set IS_EFFECTIVE = '0',
    where TIME_ID =#{timeId,jdbcType=DECIMAL}
  </update>
  <select id="selectEntityByAreaId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select <include refid="Base_Column_List" />
    from T_TIME 
    where AREA_ID = #{areaId,jdbcType=DECIMAL} AND IS_EFFECTIVE='1'
  </select>
  <select id="selectByScenarinoId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select <include refid="Base_Column_List" />
    from T_TIME 
    where SCENARINO_ID = #{scenarinoId,jdbcType=DECIMAL} AND IS_EFFECTIVE='1'
  </select>
   <select id="selectByEntity" resultMap="BaseResultMap" parameterType="ampc.com.gistone.database.model.TTime" >
    select <include refid="Base_Column_List" />
    from T_TIME 
    where IS_EFFECTIVE='1' 
    <if test="timeStartDate != null" >
        and TIME_START_DATE = #{timeStartDate,jdbcType=TIMESTAMP}
      </if>
      <if test="timeEndDate != null" >
        and TIME_END_DATE = #{timeEndDate,jdbcType=TIMESTAMP}
      </if>
      <if test="areaId != null" >
        and AREA_ID = #{areaId,jdbcType=DECIMAL}
      </if>
      <if test="missionId != null" >
        and MISSION_ID = #{missionId,jdbcType=DECIMAL}
      </if>
      <if test="scenarinoId != null" >
        and SCENARINO_ID = #{scenarinoId,jdbcType=DECIMAL}
      </if>
      <if test="planId != null" >
        and PLAN_ID = #{planId,jdbcType=DECIMAL}
      </if>
      <if test="userId != null" >
        and USER_ID = #{userId,jdbcType=DECIMAL}
      </if>
      <if test="timeId != null" >
        and TIME_ID = #{timeId,jdbcType=DECIMAL}
      </if>
      <if test="deleteTime != null" >
        and DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP}
      </if>
  </select>
</mapper>