<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ampc.com.gistone.database.inter.TUserMapper" >
  <resultMap id="BaseResultMap" type="ampc.com.gistone.database.model.TUser" >
    <id column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="USER_NAME" property="userName" jdbcType="OTHER" />
    <result column="PASSWORD" property="password" jdbcType="OTHER" />
    <result column="PROVINCE_CODE" property="provinceCode" jdbcType="DECIMAL" />
    <result column="CITY_CODE" property="cityCode" jdbcType="DECIMAL" />
    <result column="COUNTY_CODE" property="countyCode" jdbcType="DECIMAL" />
    <result column="COMPANY_NAME" property="companyName" jdbcType="OTHER" />
    <result column="USER_EMAIL" property="userEmail" jdbcType="VARCHAR" />
    <result column="USER_PHONE" property="userPhone" jdbcType="DECIMAL" />
    <result column="USER_VALIDITY" property="userValidity" jdbcType="TIMESTAMP" />
    <result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
    <result column="USER_ACCOUNT" property="userAccount" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    USER_ID, USER_NAME, PASSWORD, PROVINCE_CODE, CITY_CODE, COUNTY_CODE, COMPANY_NAME, 
    USER_EMAIL, USER_PHONE, USER_VALIDITY, ADD_TIME, USER_ACCOUNT
  </sql>
  
   <resultMap id="userListMap" type="hashMap">
    <id column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="USER_NAME" property="userName" jdbcType="OTHER" />
    <result column="PROVINCE_CODE" property="provinceCode" jdbcType="DECIMAL" />
    <result column="CITY_CODE" property="cityCode" jdbcType="DECIMAL" />
    <result column="COUNTY_CODE" property="countyCode" jdbcType="DECIMAL" />
    <result column="COMPANY_NAME" property="companyName" jdbcType="OTHER" />
    <result column="USER_EMAIL" property="userEmail" jdbcType="VARCHAR" />
    <result column="USER_PHONE" property="userPhone" jdbcType="DECIMAL" />
    <result column="USER_VALIDITY" property="userValidity" jdbcType="TIMESTAMP" />
    <result column="USER_ACCOUNT" property="userAccount" jdbcType="VARCHAR" />
  </resultMap>
  
  
   <!-- 根据所有的用户信息列表 -->
   <select id="selectUserList" resultMap="userListMap">
		SELECT USER_ID, USER_NAME, PROVINCE_CODE, CITY_CODE, COUNTY_CODE, COMPANY_NAME, 
    USER_EMAIL, USER_PHONE, USER_VALIDITY,USER_ACCOUNT
			FROM T_USER  
  </select>
  
  
  <!-- 用户登录 -->
  <select id="login" parameterType="hashMap" resultMap="userListMap">
		SELECT USER_ID, USER_NAME, PROVINCE_CODE, CITY_CODE, COUNTY_CODE, COMPANY_NAME, 
    USER_EMAIL, USER_PHONE, USER_VALIDITY,USER_ACCOUNT
			FROM T_USER 
				WHERE  USER_ACCOUNT=#{userAccount,jdbcType=OTHER} AND  PASSWORD=#{passWord,jdbcType=OTHER}
  </select>
  
  
  <!-- 判断用户名是否存在 -->
  <select id="checkUserId" parameterType="java.lang.Long" resultType="java.lang.Integer">
		SELECT COUNT(*)
			FROM T_USER 
				WHERE  USER_ACCOUNT=#{_parameter,jdbcType=DECIMAL}
  </select>
  
  
   <!-- 判断用户名是否可用 -->
  <select id="checkUserIsON" parameterType="java.lang.Long" resultType="java.lang.Integer">
		SELECT COUNT(*)
			FROM T_USER 
				WHERE  USER_ACCOUNT=#{_parameter,jdbcType=DECIMAL} AND USER_VALIDITY>sysdate
  </select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_USER
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_USER
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="ampc.com.gistone.database.model.TUser" >
    insert into T_USER (USER_ID, USER_NAME, PASSWORD, 
      PROVINCE_CODE, CITY_CODE, COUNTY_CODE, 
      COMPANY_NAME, USER_EMAIL, USER_PHONE, 
      USER_VALIDITY, ADD_TIME, USER_ACCOUNT
      )
    values (#{userId,jdbcType=DECIMAL}, #{userName,jdbcType=OTHER}, #{password,jdbcType=OTHER}, 
      #{provinceCode,jdbcType=DECIMAL}, #{cityCode,jdbcType=DECIMAL}, #{countyCode,jdbcType=DECIMAL}, 
      #{companyName,jdbcType=OTHER}, #{userEmail,jdbcType=VARCHAR}, #{userPhone,jdbcType=DECIMAL}, 
      #{userValidity,jdbcType=TIMESTAMP}, #{addTime,jdbcType=TIMESTAMP}, #{userAccount,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="ampc.com.gistone.database.model.TUser" >
    insert into T_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="provinceCode != null" >
        PROVINCE_CODE,
      </if>
      <if test="cityCode != null" >
        CITY_CODE,
      </if>
      <if test="countyCode != null" >
        COUNTY_CODE,
      </if>
      <if test="companyName != null" >
        COMPANY_NAME,
      </if>
      <if test="userEmail != null" >
        USER_EMAIL,
      </if>
      <if test="userPhone != null" >
        USER_PHONE,
      </if>
      <if test="userValidity != null" >
        USER_VALIDITY,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
      <if test="userAccount != null" >
        USER_ACCOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=OTHER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=OTHER},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=DECIMAL},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=DECIMAL},
      </if>
      <if test="countyCode != null" >
        #{countyCode,jdbcType=DECIMAL},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=OTHER},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=DECIMAL},
      </if>
      <if test="userValidity != null" >
        #{userValidity,jdbcType=TIMESTAMP},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userAccount != null" >
        #{userAccount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ampc.com.gistone.database.model.TUser" >
    update T_USER
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=OTHER},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=OTHER},
      </if>
      <if test="provinceCode != null" >
        PROVINCE_CODE = #{provinceCode,jdbcType=DECIMAL},
      </if>
      <if test="cityCode != null" >
        CITY_CODE = #{cityCode,jdbcType=DECIMAL},
      </if>
      <if test="countyCode != null" >
        COUNTY_CODE = #{countyCode,jdbcType=DECIMAL},
      </if>
      <if test="companyName != null" >
        COMPANY_NAME = #{companyName,jdbcType=OTHER},
      </if>
      <if test="userEmail != null" >
        USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        USER_PHONE = #{userPhone,jdbcType=DECIMAL},
      </if>
      <if test="userValidity != null" >
        USER_VALIDITY = #{userValidity,jdbcType=TIMESTAMP},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userAccount != null" >
        USER_ACCOUNT = #{userAccount,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="ampc.com.gistone.database.model.TUser" >
    update T_USER
    set USER_NAME = #{userName,jdbcType=OTHER},
      PASSWORD = #{password,jdbcType=OTHER},
      PROVINCE_CODE = #{provinceCode,jdbcType=DECIMAL},
      CITY_CODE = #{cityCode,jdbcType=DECIMAL},
      COUNTY_CODE = #{countyCode,jdbcType=DECIMAL},
      COMPANY_NAME = #{companyName,jdbcType=OTHER},
      USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      USER_PHONE = #{userPhone,jdbcType=DECIMAL},
      USER_VALIDITY = #{userValidity,jdbcType=TIMESTAMP},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      USER_ACCOUNT = #{userAccount,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </update>
</mapper>